<div class="dashboard-tournament" ng-show="dashboard.context == 'tournament'">
  <div class="row">
    <table class="table table-condensed">
      <tr>
        <td class="gw-td-borderless">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x gw-dashboard-icon-background"></i>
            <i class="fa fa-users fa-stack-1x gw-dashboard-icon"></i>
          </span>
        </td>
        <td class="gw-td-borderless">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x gw-dashboard-icon-background"></i>
            <i class="fa fa-user fa-stack-1x gw-dashboard-icon"></i>
          </span>
        </td>
      </tr>
      <tr>
        <td class="gw-td-borderless gw-dashboard-number">{{dashboard.nteams}}</td>
        <td class="gw-td-borderless gw-dashboard-number">{{dashboard.nparticipants}}</td>
      </tr>
      <tr>
        <td class="gw-td-borderless gw-dashboard-subtitle">TEAMS</strong></td>
        <td class="gw-td-borderless gw-dashboard-subtitle">PARTICIPANTS</strong></td>
      </tr>
    </table>
    <br>
    <h5 class="gw-dashboard-h5">LEADERBOARD</h5>
    <div class="btn-group">
      <a class="btn btn-default" ng-class="{active: rankBy == 'users'}" href="" ng-click="byUsersOnClick()">Users</a>
      <a class="btn btn-default" ng-class="{active: rankBy == 'teams'}" href="" ng-click="byTeamsOnClick()">Teams</a>
    </div>
    <br><br>
    <div ng-switch on="rankBy">
      <div ng-switch-when="users">
        <div ng-include src="'app/components/dashboard/dashboard_rankusers.html'"></div>
      </div>
      <div ng-switch-when="teams">
        <div ng-include src="'app/components/dashboard/dashboard_rankteams.html'"></div>
      </div>
    </div>
  </div>
</div>
