<div class="activities" ng-controller="ActivitiesCtrl" ng-show="activities.length">
  <div class="activities-line"></div>
  <div class="row activity" ng-repeat="activity in activities">
    <span class="activity-icon">
      <div ng-switch on="activity.Type">
        <i class="fa fa-check fa-lg fa-inverse" ng-switch-when="welcome"/>
        <i class="fa fa-users fa-lg fa-inverse" ng-switch-when="team"/>
        <i class="fa fa-trophy fa-lg fa-inverse" ng-switch-when="tournament"/>
        <i class="fa fa-compress fa-lg fa-inverse" ng-switch-when="match"/>
        <i class="fa fa-bar-chart-o fa-lg fa-inverse" ng-switch-when="accuracy"/>
        <i class="fa fa-crosshairs fa-lg fa-inverse" ng-switch-when="predict"/>
      </div>
    </span>
    <div class="activity-panel panel panel-default">
      <div class="panel-body">
        <div ng-switch on="activity.Type">
          <span ng-switch-when="predict">
            <strong><a href="/ng#/{{activity.Target.Type}}s/{{activity.Target.ID}}">{{activity.Target.DisplayName}}</a></strong>: 
            <strong><a href="/ng#/{{activity.Actor.Type}}s/{{activity.Actor.ID}}">{{activity.Actor.DisplayName}}</a></strong> {{activity.Verb}} 
            <strong><a href="/ng#/{{activity.Object.Type}}s/{{activity.Object.ID}}">{{activity.Object.DisplayName}}</a></strong>
          </span>
          <span ng-switch-when="match">
            <strong><a href="/ng#/{{activity.Actor.Type}}s/{{activity.Actor.ID}}">{{activity.Actor.DisplayName}}</a></strong>: 
            <strong><a href="/ng#/{{activity.Object.Type}}s/{{activity.Object.ID}}">{{activity.Object.DisplayName}}</a></strong> {{activity.Verb}} 
            <strong><a href="/ng#/{{activity.Target.Type}}s/{{activity.Target.ID}}">{{activity.Target.DisplayName}}</a></strong>
          </span>
          <span ng-switch-default>
            <strong><a href="/ng#/{{activity.Actor.Type}}s/{{activity.Actor.ID}}">{{activity.Actor.DisplayName}}</a></strong> {{activity.Verb}} 
            <strong><a href="/ng#/{{activity.Object.Type}}s/{{activity.Object.ID}}">{{activity.Object.DisplayName}}</a></strong>
          </span>
        </div>
        <h5 class="text-right"><small>{{activity.Published | fromNow}}</small></h5>
      </div>
    </div>
  </div>
</div>
