<div ng-controller="TournamentSecondStageCtrl">
  <!-- Calendar -->
  <div class="secondstage">
    <div class="row text-center gw-row-phase-header-odd"><div class="col-md-2"><h5>Round of 16</h5></div></div>
    <!-- row 1 -->
    <div class="row text-center gw-row-phase-odd">
      <div class="col-lg-1"></div>
      <div class="col-lg-2 gw-cell-match"><div class="gw-match-number">#{{matchesData.Matches[0].IdNumber}}</div><div class="gw-match">{{matchesData.Matches[0].Team1}}<br>{{matchesData.Matches[0].Result1}} - {{matchesData.Matches[0].Result2}}<br>{{matchesData.Matches[0].Team2}}</div></div>
      <div class="col-lg-1"></div>
      <div class="col-lg-2 gw-cell-match"><div class="gw-match-number">#{{matchesData.Matches[1].IdNumber}}</div><div class="gw-match">{{matchesData.Matches[1].Team1}}<br>{{matchesData.Matches[1].Result1}} - {{matchesData.Matches[1].Result2}}<br>{{matchesData.Matches[1].Team2}}</div></div>
      <div class="col-lg-1"></div>
      <div class="col-lg-2 gw-cell-match"><div class="gw-match-number">#{{matchesData.Matches[4].IdNumber}}</div><div class="gw-match">{{matchesData.Matches[4].Team1}}<br>{{matchesData.Matches[4].Result1}} - {{matchesData.Matches[4].Result2}}<br>{{matchesData.Matches[4].Team2}}</div></div>
      <div class="col-lg-1"></div>
      <div class="col-lg-2 gw-cell-match"><div class="gw-match-number">#{{matchesData.Matches[5].IdNumber}}</div><div class="gw-match">{{matchesData.Matches[5].Team1}}<br>{{matchesData.Matches[5].Result1}} - {{matchesData.Matches[5].Result2}}<br>{{matchesData.Matches[5].Team2}}</div></div>
      </div>
    <div class="row text-center gw-row-phase-odd">
      <div class="col-lg-1"></div>
      <div class="col-lg-2 gw-cell-match"><div class="gw-match-number">#{{matchesData.Matches[2].IdNumber}}</div><div class="gw-match">{{matchesData.Matches[2].Team1}}<br>{{matchesData.Matches[2].Result1}} - {{matchesData.Matches[2].Result2}}<br>{{matchesData.Matches[2].Team2}}</div></div>
      <div class="col-lg-1"></div>
      <div class="col-lg-2 gw-cell-match"><div class="gw-match-number">#{{matchesData.Matches[3].IdNumber}}</div><div class="gw-match">{{matchesData.Matches[3].Team1}}<br>{{matchesData.Matches[3].Result1}} - {{matchesData.Matches[3].Result2}}<br>{{matchesData.Matches[3].Team2}}</div></div>
      <div class="col-lg-1"></div>
      <div class="col-lg-2 gw-cell-match"><div class="gw-match-number">#{{matchesData.Matches[6].IdNumber}}</div><div class="gw-match">{{matchesData.Matches[6].Team1}}<br>{{matchesData.Matches[6].Result1}} - {{matchesData.Matches[6].Result2}}<br>{{matchesData.Matches[6].Team2}}</div></div>
      <div class="col-lg-1"></div>
      <div class="col-lg-2 gw-cell-match"><div class="gw-match-number">#{{matchesData.Matches[7].IdNumber}}</div><div class="gw-match">{{matchesData.Matches[7].Team1}}<br>{{matchesData.Matches[7].Result1}} - {{matchesData.Matches[7].Result2}}<br>{{matchesData.Matches[7].Team2}}</div></div>
    </div>
    <div class="row text-center gw-row-phase-header-even"><div class="col-md-2"><h5>Quarter finals</h5></div></div>
    <!-- row 2 -->
    <div class="row text-center gw-row-phase-even">
      <div class="col-lg-1"></div>
      <div class="col-lg-2 gw-cell-match"><div class="gw-match-number">#{{matchesData.Matches[8].IdNumber}}</div><div class="gw-match">{{matchesData.Matches[8].Team1}}<br>{{matchesData.Matches[8].Result1}} - {{matchesData.Matches[8].Result2}}<br>{{matchesData.Matches[8].Team2}}</div></div>
      <div class="col-lg-1"></div>
      <div class="col-lg-2 gw-cell-match"><div class="gw-match-number">#{{matchesData.Matches[9].IdNumber}}</div><div class="gw-match">{{matchesData.Matches[9].Team1}}<br>{{matchesData.Matches[9].Result1}} - {{matchesData.Matches[9].Result2}}<br>{{matchesData.Matches[9].Team2}}</div></div>
      <div class="col-lg-1"></div>
      <div class="col-lg-2 gw-cell-match"><div class="gw-match-number">#{{matchesData.Matches[10].IdNumber}}</div><div class="gw-match">{{matchesData.Matches[10].Team1}}<br>{{matchesData.Matches[10].Result1}} - {{matchesData.Matches[10].Result2}}<br>{{matchesData.Matches[10].Team2}}</div></div>
      <div class="col-lg-1"></div>
      <div class="col-lg-2 gw-cell-match"><div class="gw-match-number">#{{matchesData.Matches[11].IdNumber}}</div><div class="gw-match">{{matchesData.Matches[11].Team1}}<br>{{matchesData.Matches[11].Result1}} - {{matchesData.Matches[11].Result2}}<br>{{matchesData.Matches[11].Team2}}</div></div>
    </div>
    <div class="row text-center gw-row-phase-header-odd"><div class="col-md-2"><h5>Semi finals</h5></div></div>
    <!-- row 3 -->
    <div class="row text-center gw-row-phase-odd">
      <div class="col-lg-3"></div>
      <div class="col-lg-2 gw-cell-match"><div class="gw-match-number">#{{matchesData.Matches[12].IdNumber}}</div><div class="gw-match">{{matchesData.Matches[12].Team1}}<br>{{matchesData.Matches[12].Result1}} - {{matchesData.Matches[12].Result2}}<br>{{matchesData.Matches[12].Team2}}</div></div>
      <div class="col-lg-2"></div>
      <div class="col-lg-2 gw-cell-match"><div class="gw-match-number">#{{matchesData.Matches[13].IdNumber}}</div><div class="gw-match">{{matchesData.Matches[13].Team1}}<br>{{matchesData.Matches[13].Result1}} - {{matchesData.Matches[13].Result2}}<br>{{matchesData.Matches[13].Team2}}</div></div>
      <div class="col-lg-3"></div>
    </div>
    <div class="row text-center gw-row-phase-header-even"><div class="col-md-2"><h5>Third place</h5></div></div>
    <!-- row 4 -->
    <div class="row text-center gw-row-phase-even">
      <div class="col-md-5"></div>
      <div class="col-md-2 gw-cell-match"><div class="gw-match-number">#{{matchesData.Matches[14].IdNumber}}</div><div class="gw-match">{{matchesData.Matches[14].Team1}}<br>{{matchesData.Matches[14].Result1}} - {{matchesData.Matches[14].Result2}}<br>{{matchesData.Matches[14].Team2}}</div></div>
      <div class="col-md-5"></div>
    </div>
    <div class="row text-center gw-row-phase-header-odd"><div class="col-md-2"><h5>Finals</h5></div></div>
    <!-- row 5 -->
    <div class="row text-center gw-row-phase-odd">
      <div class="col-md-5"></div>
      <div class="col-md-2 gw-cell-match"><div class="gw-match-number">#{{matchesData.Matches[15].IdNumber}}</div><div class="gw-match">{{matchesData.Matches[15].Team1}}<br>{{matchesData.Matches[15].Result1}} - {{matchesData.Matches[15].Result2}}<br>{{matchesData.Matches[15].Team2}}</div></div>
      <div class="col-md-5"></div>
    </div>

  </div>
  <!-- / Calendar -->
</div>
