{{define "tmpl_team_edit"}}
<div class="navigation">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="/m">Home</a></li>
    {{if LoggedIn}}
		<li><a href="/m/users/{{.Id}}">Profile</a></li>
		<li><a href="/m/logout">Logout</a></li>
    {{end}}
  </ul>
  <h3 class="muted">purple-wing</h3>
</div>
<hr>
<div class="page-header">
	<h1>Edit Team</h1>
</div>
<form accept-charset="UTF-8" action="/teams/{{.Id}}" class="form-horizontal" method="post">
	<div class="control-group">
		<label class="control-label" for="team_id">Id</label>
		<div class="controls">
			<input class="text_field" id="team_id" name="Id" size="30" type="text" value="{{.Id}}" readonly="readonly"/>
		</div>
	</div>
  	<div class="control-group">
		<label class="control-label" for="team_name">Name</label>
		<div class="controls">
	  		<input class="text_field" id="team_name" name="Name" size="30" type="text" value="{{.Name}}"/>
		</div>
  	</div>
  	<div class="control-group">
		<label class="control-label" for="team_adminid">Admin Id</label>
		<div class="controls">
			<input class="text_field" id="team_adminid" name="AdminId" size="30" type="text" value="{{.AdminId}}" readonly="readonly"/>
		</div>
	</div>

  	<div class="form-actions">
		<input class="btn btn-primary" name="commit" type="submit" value="Update Team" />
		<a href="/teams/{{.Id}}" class="btn">Cancel</a>
  	</div>
</form>
{{end}}
