{{define "tmpl_team_index"}}
<div class="navigation">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="/m">Home</a></li>
    {{if LoggedIn}}
		<li><a href="/m/users/{{.Id}}">Profile</a></li>
		<li><a href="/m/logout">Logout</a></li>
    {{end}}
  </ul>
  <h3 class="muted">purple-wing</h3>
</div>
<hr>
<div class="page-header">
	<h1>Teams</h1>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Admin Id</th>
		</tr>
	</thead>
	<tbody>
		{{range .}}
		<tr>
			<td>{{.Id}}</td>
			<td>{{.Name}}</td>
			<td>{{.AdminId}}</td>
		</tr>
		{{end}}
	</tbody>
</table>
{{end}}
