{{define "tmpl_team_index"}}
<div class="page-header">
  <h1><a href="/m/teams">Teams</a></h1>  
  <div class="btn-toolbar">
    <a class="btn btn-primary" href="/m/teams/new"><i class="icon-plus icon-white"></i> Create new team</a>
	<!-- search box -->
	<div class="control-group search-box">
	  <div class="controls">
		<div class="input-prepend">
			<span class="add-on"><i class="icon-search"></i></span>
			<form method="post" action="/m/teams">
				<input class="span2" id="inputIcon" type="text" name="TeamInputSearch" value="{{.TeamInputSearch}}">
			</form>
        </div>
	  </div>
	</div>
  </div>
</div>
<div class="page-content">
  <table class="table table-striped">
    <thead>
      <tr>
	<th>Id</th>
	<th>Name</th>
	<th>Admin Id</th>
	<th>Private</th>
      </tr>
    </thead>
    <tbody>
      {{range .Teams}}
      <tr>
	<td>{{.Id}}</td>
	<td><a href="/m/teams/{{.Id}}">{{.Name}}</a></td>
	<td>{{.AdminId}}</td>
	<td>{{.Private}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}
