{{define "tmpl_team_show"}}
<div class="page-header">
	<h1>Team</h1>
	{{if Joined}}
	<form accept-charset="UTF-8" action="/m/teamrels/{{.Id}}" class="form-horizontal" method="post">
		<input id="team_id" name="TeamId" type="hidden" value="{{.Id}}" />
		<input class="btn btn-primary btn-join" name="commit" type="submit" value="Join" />
	</form>
	{{else}}
	<form accept-charset="UTF-8" action="/m/teamrels/{{.Id}}" class="form-horizontal" method="delete">
		<input id="team_id" name="TeamId" type="hidden" value="{{.Id}}" />
		<input class="btn btn-primary btn-join" name="commit" type="submit" value="Leave" />
	</form>
	{{end}}
</div>

<dl class="dl-horizontal">
	<dt><strong>Id:</strong></dt>
	<dd>{{.Id}}</dd>
	<dt><strong>Name:</strong></dt>
	<dd>{{.Name}}</dd>
	<dt><strong>AdminId:</strong></dt>
	<dd>{{.AdminId}}</dd>
	<dt><strong>Private:</strong></dt>
	<dd>{{.Private}}</dd>
</dl>

<div class="form-actions">
	<a href="/m/teams/{{.Id}}/edit" class="btn"><span>Edit</span></a>
	<a href="/m/teams/{{.Id}}" class="btn btn-danger" data-confirm="Are you sure?" data-method="delete">Delete</a>
</div>
{{end}}
