<div class="page-header">
	<h1>Edit Team</h1>
</div>
<div ng-controller="TeamEditCtrl">
	<form class="editTeamForm form-horizontal">
		<div class="control-group">
			<label class="control-label">Id</label>
			<div class="controls">
				<input class="text_field" name="Id" size="30" type="text" ng-model="team.Id" readonly="readonly"/>
			</div>
		</div>
	  	<div class="control-group">
			<label class="control-label">Name</label>
			<div class="controls">
		  		<input class="text_field" name="Name" size="30" type="text" ng-model="team.Name" required/>
			</div>
	  	</div>
	  	<div class="control-group">
			<label class="control-label">Admin Id</label>
			<div class="controls">
				<input class="text_field" name="AdminId" size="30" type="text" ng-model="team.AdminId" readonly="readonly"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Private</label>
			<div class="controls">
			  <!-- Todo if else -->
			  <input class="radio" name="Visibility" type="radio" value="Public" checked ng-model="team.Visibility"/> Public (Anyone can subscribe to this team)<br>
			  <input class="radio" name="Visibility" type="radio" value="Private" ng-model="team.Visibility"/> Private (users need to request an invitation)
			</div>
		</div>
	  	<div class="form-actions">
			<input class="btn btn-primary" name="update" value="Update Team" ng-click="updateTeam()"/>
			<a href="/ng#/teams/show/{{team.Id}}" class="btn">Cancel</a>
	  	</div>
	</form>
</div>
