<div class="page-header">
  <h1><a href="/ng#/teams">Teams</a></h1>
  <div class="btn-toolbar">
    <a class="btn btn-primary" href="/ng#/teams/new"><i class="glyphicon glyphicon-plus glyphicon-white"></i> Create new team</a>
    <!-- search box -->
    <div class="form-group search-box">
	<div class="input-group">
	  <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
	  <form ng-submit="searchTeam()">
	    <div class="form-control">
	      <input class="col-md-2" id="inputIcon" type="text" name="TeamInputSearch" ng-model="keywords">
	    </div>
	  </form>
        </div>
    </div>
    <!-- / search box -->
  </div>
</div>
<!-- alert message to display when search query does not bring up any results --> 
<div class="alert alert-info" ng-show="isSearching && !teams.length">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Oops!</strong> Your search - <b>{{query}}</b> - did not match any team.
</div>
<div class="page-content">
  <div class="alert alert-success" ng-show="isSearching && teams.length">
    Results for <strong>{{query}}</strong>:
  </div>
  <table class="table table-striped" ng-show="teams.length">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Admin Id</th>
        <th>Private</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="team in teams | filter:query">
        <td>{{team.Id}}</td>
        <td><a href="/ng#/teams/show/{{team.Id}}">{{team.Name}}</a></td>
        <td>{{team.AdminId}}</td>
        <td>{{team.Private}}</td>
      </tr>
    </tbody>
  </table>
  <h3 style="text-align: center">{{noTeamsMessage}}</h3>
</div>
