<div class="page-header">
  <h1>New Team</h1>
</div>
<form name="newTeamForm" class="form-horizontal" ng-controller="TeamNewCtrl">
  <div class="control-group" ng-class="{error: newTeamForm.name.$invalid}">
    <label class="control-label">Name</label>
    <div class="controls">
      <input class="text_field" name="name" size="30" type="text" ng-model="team.name" required/>
      <span ng-show="newTeamForm.name.$error.required" class="help-inline"> Required</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Visibility</label>
    <div class="controls">
      <input class="radio" name="visibility" type="radio" value="Public" ng-model="team.visibility" ng-init="team.visibility='Public'"/> Public (Anyone can subscribe to this team)<br>
      <input class="radio" name="visibility" type="radio" value="Private" ng-model="team.visibility"/> Private (users need to request an invitation)
    </div>
  </div>
  <div class="form-actions">
    <a href="/ng#/teams" class="btn">Cancel</a>
    <button class="btn btn-primary" ng-click="addTeam()" ng-disabled="newTeamForm.$invalid">Create Team</button>
  </div>
</form>
