<div ng-include src="'templates/partials/notifications.html'"></div>
<div class="panel panel-default">
<ol class="breadcrumb">
  <li><a href="/ng#/teams">Teams</a></li>
  <li><a href="/ng#/teams/{{teamData.Team.Id}}">{{teamData.Team.Name}}</a></li>
  <li class="active">Edit Price</li>
</ol>
  <div class="panel-body">
    <form class="form-horizontal" role="form" name="editPriceForm">
      <div class="form-group" ng-class="{error: editPriceForm.name.$invalid}">
        <label class="col-sm-2  control-label">Description</label>
        <div class="col-sm-4">
  	       <input class="text-field form-control" name="description" size="30" type="text" ng-model="priceData.Price.Description" required/>
        </div>
        <div class="col-sm-6">
  	       <span ng-show="editPriceForm.name.$error.required" class="text-danger"> Required</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <a href="/ng#/teams/{{teamData.Team.Id}}" class="btn btn-default">Cancel</a>
          <button class="btn btn-primary" ng-click="updatePrice()" ng-disabled="editPriceForm.$invalid">Update Price</button>
        </div>
      </div>
    </form>
  </div>
</div>
