<div ng-include src="'templates/partials/notifications.html'"></div>
<div class="page-header">
  <h1>Team Ranking</h1>
</div>
<!-- end page header -->
<dl class="dl-horizontal">
  <dt><strong>Id:</strong></dt>
  <dd>{{teamData.Team.Id}}</dd>
  <dt><strong>Name:</strong></dt>
  <dd>{{teamData.Team.Name}}</dd>
  <dt><strong>AdminId:</strong></dt>
  <dd>{{teamData.Team.AdminId}}</dd>
  <dt><strong>Private:</strong></dt>
  <dd>{{teamData.Team.Private}}</dd>
  <dt><strong>Joined:</strong></dt>
  <dd>{{teamData.Joined}}</dd>
</dl>

<div ng-if="rankingData.Users">
  <div class="players">
    <table class="table table-striped">
      <thead><tr><th>Players</th><th>Score</th></tr></thead>
      <tbody>
	<tr ng-repeat="u in rankingData.Users">
	  <td><a href="/ng#/users/show/{{u.Id}}">{{u.Name}}</a></td>
	  <td>{{u.Score}}</td>
	</tr>
      </tbody>
    </table>
  </div>
</div>
