<div>
  <div class="page-header">
    <h1>Team</h1>
    <!-- uncomment this to debug -->
    <!-- <p>debug:<br>isTeamAdmin: {{isTeamAdmin}}<br>team.Joined: {{team.Joined}}<br>team.Private: {{team.Private}}<br>team.RequestSent: {{team.RequestSent}}</p> -->

    <!-- start if !isTeamAdmin && !team.Joined -->
    <div ng-if="!isTeamAdmin && !team.Joined">
      <p>debug: team not admin</p>
    	<div ng-if="team.Private">
    	  <form accept-charset="UTF-8" class="form-horizontal" method="post">
    	    <div ng-if="team.RequestSent">
    	      <input class="btn disabled" name="commit" type="submit" value="Request sent..." />
    	    </div>
    	    <div ng-if="!team.RequestSent">
    	      <input class="btn btn-primary" name="commit" ng-click="requestInvitation()" type="submit" value="Request invitation" />
    	    </div>
    	  </form>
    	</div>
    	<div ng-if="!team.Private">
    	  <joinbutton target="team" resource="team" />
    	</div>
    </div>
    <!-- end if !isTeamAdmin && !team.Joined -->
    <!-- start if !isTeamAdmin && team.Joined -->
    <div ng-if="!isTeamAdmin && team.Joined">
      <joinbutton target="team" resource="team" />
    </div>
    <!-- end if !isTeamAdmin && team && team.Joined -->
  </div>
  <!-- end page header -->
  <dl class="dl-horizontal">
    <dt><strong>Id:</strong></dt>
    <dd>{{team.Id}}</dd>
    <dt><strong>Name:</strong></dt>
    <dd>{{team.Name}}</dd>
    <dt><strong>AdminId:</strong></dt>
    <dd>{{team.AdminId}}</dd>
    <dt><strong>Private:</strong></dt>
    <dd>{{team.Private}}</dd>
  </dl>
  
  <div ng-if="isTeamAdmin">
    <p>debug: team  admin</p>
    <div class="form-actions">
      <form class="form-horizontal">
        <a href="/ng#/teams/edit/{{team.Id}}" class="btn"><span>Edit</span></a>
        <button class="btn btn-danger" name="delete" onclick="return confirm('Are you sure?');" ng-click="deleteTeam()">Delete</button>
      </form>
    </div>
  </div>
  <!-- start players -->
  <div ng-include src="'templates/teams/Players.html'"></div>
  <!-- end players -->  
</div>
