/*main.css*/

body {
    padding-top: 20px;
    padding-bottom: 40px;
}

.container {
    margin: 0 auto;
    max-width: 900px;
}
.container > hr {
    margin: 30px 0;
}

.footer p {
    text-align: center;
}

.search-box {
    float: right;
}

#email {
    width: 400px;
    float: left;
}

#invite {
    width: 350px;
    float: right;
}

.email-body {
    color: #cb8a41;
    font-family: monospace;
}