<div class="panel-body">
  <div class="row">
    <div class="col-md-1"><h4>#{{m.IdNumber}}</h4></div>
    <div class="col-md-3"><p class="lead"><span class="flag-icon flag-icon-{{m.Iso1}}"></span> <small>{{m.Team1}}</small></p></div>
    <div class="col-md-2"><p class="lead">{{m.Result1}} - {{m.Result2}}</p></div>
    <div class="col-md-3"><p class="lead"><span class="flag-icon flag-icon-{{m.Iso2}}"></span> <small>{{m.Team2}}</small></p></div>
  </div>
  <form class="form" role="form" ng-submit="updateResult()">
    <div ng-show="m.wantToPredict">
      <div class="row">
      	<div class="col-md-offset-3 col-md-1">
          <input type="text" class="form-control input-md" id="{{m.IdNumber}}" ng-model="result1" placeholder="">
      	</div>
      	<div class="col-md-2"><p class="text-center"> - </p></div>
      	<div class="col-md-1">
          <p><input type="text" class="form-control input-md" id="{{m.IdNumber}}" ng-model="result2" placeholder=""></p>
      	</div>
      	<div class="col-md-1">
          <button type="submit" class="btn btn-danger btn-xs" ng-click="cancel(m.IdNumber, $index, $parent.$parent.$index, result1, result2)"><span class="glyphicon glyphicon-remove-circle"></span> cancel</button>
      	</div>
      </div>
    </div> <!-- / want to predict -->
    <div class="row">
      <div class="col-md-offset-4 col-md-2">
        <button class="btn btn-primary btn-xs btn-block" disabled="disabled" ng-show="!m.Ready"><span class="glyphicon glyphicon glyphicon-time"></span> gonawin</button>
        <button class="btn btn-primary btn-xs btn-block" disabled="disabled" ng-show="m.Ready && !m.CanPredict && !m.Finished && !m.HasPredict"><span class="glyphicon glyphicon glyphicon-time"></span> gonawin</button>
        <button class="btn btn-primary btn-xs btn-block" ng-show="m.Ready && !m.HasPredict && !m.Finished && !m.wantToPredict && m.CanPredict" ng-click="activatePredict(m.IdNumber, $index, $parent.$parent.$index)"><span class="glyphicon glyphicon glyphicon-edit"></span> gonawin</button>
        <button class="btn btn-primary btn-xs btn-block" ng-show="m.Ready  && !m.Finished && m.wantToPredict" ng-click="predict(m.IdNumber, $index, $parent.$parent.$index, result1, result2)"><span class="glyphicon glyphicon glyphicon-edit"></span> save</button>
        <button class="btn btn-success btn-xs btn-block" ng-show="m.Ready && m.HasPredict && !m.Finished && !m.wantToPredict && m.CanPredict" ng-click="activatePredict(m.IdNumber, $index, $parent.$parent.$index)"><span class="glyphicon glyphicon glyphicon-check"></span> {{m.Predict}}</button>
        <button class="btn btn-success btn-xs btn-block" disabled="disabled" ng-show="m.Ready && m.HasPredict && !m.Finished && !m.wantToPredict && !m.CanPredict"><span class="glyphicon glyphicon glyphicon-check"></span> {{m.Predict}}</button>
        <button class="btn btn-default btn-xs btn-block active" disabled="disabled" ng-show="m.Finished"><span class="glyphicon glyphicon glyphicon-check"></span> {{m.Predict}}</button>
      </div>
    </div> <!-- / row -->
  </form>
</div>
