<div ng-if="isTournamentAdmin">
  <!-- team's settings button -->
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-transparent dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog fa-lg"></i></button>
    <ul class="dropdown-menu" role="menu">
      <li><a ng-if="isTournamentAdmin" href="/#/tournaments/edit/{{tournamentData.Tournament.Id}}">Edit</a></li>
      <li><a data-toggle="modal" data-target="#tournament-manage-admin-modal">Manage admins</a></li>
      <li class="divider"></li>
      <li><a href="#" ng-click="deleteTournament()">Delete</a></li>
    </ul>
  </div>
</div>

<!-- modal manage admins -->
<div id="tournament-manage-admin-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tournamentManageAdminModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="tournamentManageAdminModalLabel">Manage admins</h3>
      </div>
      <div class="modal-body">
        <div ng-include src="'components/tournament/shared/adminCandidates.html'"></div>
      </div>
    </div>
  </div>
</div>
<!-- / modal manage admins -->

<a class="gw-chevron" href="/#/tournaments"><i class="fa fa-chevron-left fa-lg" style="vertical-align: 50%;"> </i>  </a>
<h1 class="gw-h1">
  <i class="fa fa-trophy fa-lg"></i>
  {{tournamentData.Tournament.Name}}
  <small class="gw-small">{{tournamentData.Tournament.Description}}</small>
</h1>

<div class="row">
  <div class="col-md-1"></div>
  <!-- actions -->
  <div class="col-md-10">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="btn-group pull-right">
          <joinbutton action="joinButtonMethod()" name="joinButtonName"/>
          <button class="btn btn-default" data-toggle="modal" data-target=".addTeamModal">Add Team</button>
        </div>
      </div>
    </form>
  </div>
  <!-- / actions -->
  <!-- modal -->
  <div class="modal fade addTeamModal" tabindex="-1" role="dialog" aria-labelledby="tournamentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="tournamentModalLabel">Add Team</h3>
        </div>
        <div class="modal-body">
          <!-- candidates -->
          <div ng-if="candidates.length > 0">
            <table class="table table-hover">
              <tbody>
                <tr ng-repeat="c in candidates">
                  <form accept-charset="UTF-8" class="form-horizontal">
                    <div class="form-group">
                      <td><a href="/#/teams/{{c.Team.Id}}">{{c.Team.Name}}</a></td>
                      <td>
                        <joinbutton action="joinAsTeamButtonMethod[c.Team.Id](c.Team.Id)" name="joinAsTeamButtonName[c.Team.Id]" />
                      </td>
                    </div>
                  </form>
                </tr>
              </tbody>
            </table>
          </div>
          <div ng-if="!candidates || candidates.length == 0">
            <div id="no_team">
              <p>No team has been created by you.</p>
              <button class="btn btn-primary" ng-click="newTeam()" data-dismiss="modal"><span>Create new team</span></button>
            </div>
          </div>
          <!-- end of candidates -->
        </div>
      </div>
    </div>
  </div>
  <!-- / modal -->
</div>
