<!-- modal manage admins -->
<div id="tournament-manage-admin-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tournamentManageAdminModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="tournamentManageAdminModalLabel">Manage admins</h3>
      </div>
      <div class="modal-body">
        <div ng-include src="'components/tournament/shared/adminCandidates.html'"></div>
      </div>
    </div>
  </div>
</div>
<!-- / modal manage admins -->

<div class="row">
  <div class="col-md-9">
    <h1 class="gw-h1">
      {{tournamentData.Tournament.Name}}
      <small class="gw-small">{{tournamentData.Tournament.Description}}</small>
    </h1>
  </div>
  <!-- actions -->
  <div class="col-md-3">
    <div class="btn-group pull-right">
      <joinbutton ng-if="!joinedTournament" action="joinButtonMethod()" name="joinButtonName"/>
      <button class="btn btn-default btn-sm" type="button" data-toggle="modal" data-target=".addTeamModal"><strong>Add Team</strong></button>
    </div>
  </div>
  <!-- / actions -->
</div>

<!-- modal -->
<div class="modal fade addTeamModal" tabindex="-1" role="dialog" aria-labelledby="tournamentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="tournamentModalLabel">Add Team</h3>
      </div>
      <div class="modal-body">
        <!-- candidates -->
        <div ng-if="candidates.length > 0">
          <table class="table table-hover">
            <tbody>
              <tr ng-repeat="c in candidates">
                <form accept-charset="UTF-8" class="form-horizontal">
                  <div class="form-group">
                    <td><a href="/#/teams/{{c.Team.Id}}">{{c.Team.Name}}</a></td>
                    <td>
                      <joinbutton action="joinAsTeamButtonMethod[c.Team.Id](c.Team.Id)" name="joinAsTeamButtonName[c.Team.Id]" />
                    </td>
                  </div>
                </form>
              </tr>
            </tbody>
          </table>
        </div>
        <div ng-if="!candidates || candidates.length == 0">
          <div id="no_team">
            <p>No team has been created by you.</p>
            <button class="btn btn-primary" type="button" ng-click="newTeam()" data-dismiss="modal"><span>Create new team</span></button>
          </div>
        </div>
        <!-- end of candidates -->
      </div>
    </div>
  </div>
</div>
<!-- / modal -->
