<div ng-include src="'shared/notifications.html'"></div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-3">
        <!-- search box -->
          <form ng-submit="searchTournament()">
            <div class="input-group input-group-sm">
              <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
              <input type="text" class="form-control" name="TeamInputSearch" placeholder="Search tournaments" id="inputIcon" ng-model="keywords">
            </div>
          </form>
          <!-- / search box -->
      </div>
      <div class="col-md-offset-5 col-md-2">
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group pull-right">
              <button class="btn btn-default btn-sm" type="button" ng-show="currentUser.User.IsAdmin" ng-click="createWorldCup()">
              <strong> Create World Cup</strong>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group pull-right">
            <a class="btn btn-default btn-sm" ng-show="currentUser.User.IsAdmin" href="/#/tournaments/new">
              <i class="fa fa-plus fa-fw"></i>
              <strong> New Tournament</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <span ng-repeat="gettingParentIndex in tournaments">
            <div class="row" ng-if="$index<tournaments.length/4+1">
              <span ng-repeat="tournament in tournaments">
                <div ng-if="$index>=4*$parent.$index && $index <= 4*($parent.$index+1)-1">
                  <div ng-include src="'shared/tournament_card.html'"></div>
                </div>
              </span>
            </div>
          </span>
          <h3 style="text-align: center">{{noTournamentsMessage}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-offset-5">
          <button type="button" class="btn btn-primary" ng-click="moreTournaments()" ng-show="showMoreTournaments">More Tournaments</button>
        </div>
      </div>
    </div>
  </div>
</div>
