<div ng-include src="'shared/notifications.html'"></div>
<div class="panel panel-default">
  <div class="panel-heading gw-panel-heading">
    <div class="row">
      <div class="col-md-11">
        <a class="gw-chevron" href="/#/tournaments"><i class="fa fa-chevron-left fa-lg">  </i></a>
        <h6 class="gw-h6"><a href="/#/tournaments"><strong>Tournaments</strong></a></h6>
      </div>
      <div class="col-md-1">
        <div ng-if="isTournamentAdmin">
          <!-- team's settings button -->
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-transparent dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
            <ul class="dropdown-menu" role="menu">
              <li><a ng-if="isTournamentAdmin" href="/#/tournaments/edit/{{tournamentData.Tournament.Id}}">Edit</a></li>
              <li><a data-toggle="modal" data-target="#tournament-manage-admin-modal">Manage admins</a></li>
              <li class="divider"></li>
              <li><a href="#" ng-click="deleteTournament()">Delete</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div ng-include src="'components/tournament/header.html'"></div>
    <br/><br/>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{100 * tournamentData.Progress | number:0}}%;">
	       {{100 * tournamentData.Progress | number:0}}%
      </div>
    </div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li ng-class="{active: tab == 'calendar'}"><a href="/#/tournaments/{{tournamentData.Tournament.Id}}?tab=calendar" ng-click="onClickTab(tabs['calendar'])" data-toggle="tab">Calendar</a></li>
      <li ng-class="{active: tab == 'firststage'}" ng-show="showStageTab()"><a href="/#/tournaments/{{tournamentData.Tournament.Id}}?tab=firststage" ng-click="onClickTab(tabs['firststage'])" data-toggle="tab">First Stage</a></li>
      <li ng-class="{active: tab == 'secondstage'}" ng-show="showStageTab()"><a href="/#/tournaments/{{tournamentData.Tournament.Id}}?tab=secondstage" ng-click="onClickTab(tabs['secondstage'])" data-toggle="tab">Second Stage</a></li>
      <li ng-class="{active: tab == 'ranking'}" ><a href="/#/tournaments/{{tournamentData.Tournament.Id}}?tab=ranking" ng-click="onClickTab(tabs['ranking'])" data-toggle="tab">Ranking</a></li>
      <li ng-class="{active: tab == 'predictions'}" ><a href="/#/tournaments/{{tournamentData.Tournament.Id}}?tab=predictions" ng-click="onClickTab(tabs['predictions'])" data-toggle="tab">Predictions</a></li>
      <li class="dropdown" ng-class="{active: (tab == 'admin.setresults') || (tab == 'admin.setteams')}" ng-if="isTournamentAdmin">
        <a href="" data-toggle="dropdown">Results <b class="caret"></b></a>
      	<ul class="dropdown-menu">
          <li><a ng-click="onClickTab(tabs['admin.setresults'])" href="/#/tournaments/{{tournamentData.Tournament.Id}}?tab=admin.setresults">set results</a></li>
          <li><a ng-click="onClickTab(tabs['admin.setteams'])" href="/#/tournaments/{{tournamentData.Tournament.Id}}?tab=admin.setteams">set teams</a></li>
      	  <li><a ng-click="onClickTab(tabs['admin.syncdata'])" href="/#/tournaments/{{tournamentData.Tournament.Id}}?tab=admin.syncdata">sync data</a></li>
          <li><a href="" ng-click="resetTournament()"><span class="glyphicon glyphicon glyphicon-refresh"></span> reset</a></li>
      	</ul>
      </li>
    </ul> <!-- / Nav tabs -->
    <div class="panel panel-transparent">
      <div class="tab-panel" ng-include="currentTab"></div>
    </div>
  </div> <!-- panel body -->
</div> <!-- / panel -->
