<div ng-controller="TournamentCalendarCtrl">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      <div class="btn-group pull-right">
        <a class="btn btn-default btn-sm" ng-class="{active: matchesData.Phases != undefined}" href="/#/tournaments/{{tournamentData.Tournament.Id}}?tab={{tab}}&groupby=phase"><strong>Phase</strong></a></li>
        <a class="btn btn-default btn-sm" ng-class="{active: matchesData.Days != undefined}" href="/#/tournaments/{{tournamentData.Tournament.Id}}?tab={{tab}}&groupby=date"><strong>Date</strong></a></li>
      </div>
    </div>
  </div>
  <br>
  <!-- start matches data -->
  <div ng-include src="'components/tournament/shared/matchesData.html'"></div>
  <!-- end matches data -->
</div>
