<div ng-controller="TournamentRankingCtrl">
  <!-- select -->
  <div class="row">
    <div class="col-md-11 col-md-offset-1">
      <p class="lead">Select a team to rank:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <select ng-init="selectedTeamId = 0" ng-model="selectedTeamId" class="form-control" ng-change="update()">
	<option selected value="0">Global</option>
      	<option ng-repeat="t in teams" value="{{t.Id}}">
      	  {{t.Name}}
      	</option>
      </select>
    </div>
  </div>
  <br>
  <!-- / select -->
  <!-- participants -->
  <div ng-if="rankingData.Users">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="participants col-md-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Participants</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="u in selectedParticipants | orderBy:'Score':!reverse">
              <td ng-show="u.Id == currentUser.User.Id" class="info">{{$index + 1}}</td>
              <td ng-show="u.Id != currentUser.User.Id">{{$index + 1}}</td>
              <td ng-show="u.Id == currentUser.User.Id && (u.Alias.length > 0)" class="info"><a href="/#/users/{{u.Id}}">{{u.Alias}}</a></td>
	      <td ng-show="u.Id == currentUser.User.Id && (u.Alias.length == 0)" class="info"><a href="/#/users/{{u.Id}}">{{u.Username}}</a></td>
              <td ng-show="u.Id != currentUser.User.Id && (u.Alias.length > 0)"><a href="/#/users/{{u.Id}}">{{u.Alias}}</a></td>
              <td ng-show="u.Id != currentUser.User.Id && (u.Alias.length == 0)"><a href="/#/users/{{u.Id}}">{{u.Username}}</a></td>
              <td ng-show="u.Id == currentUser.User.Id" class="info">{{u.Score}}</td>
              <td ng-show="u.Id != currentUser.User.Id">{{u.Score}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <!-- / participants -->
</div>
