<div ng-include src="'templates/partials/notifications.html'"></div>
<div class="panel panel-default">
  <ol class="breadcrumb">
    <li><a href="/ng#/teams">Teams</a></li>
    <li><a href="/ng#/teams/{{teamData.Team.Id}}">{{teamData.Team.Name}}</a></li>
    <li class="active">Ranking</li>
  </ol>
  <div class="panel-body">
    <h1>Accuracies</h1>

    <dl class="dl-horizontal">
      <dt><strong>Id:</strong></dt>
      <dd>{{teamData.Team.Id}}</dd>
      <dt><strong>Name:</strong></dt>
      <dd>{{teamData.Team.Name}}</dd>
      <dt><strong>AdminIds:</strong></dt>
      <dd>{{teamData.Team.AdminIds}}</dd>
      <dt><strong>Private:</strong></dt>
      <dd>{{teamData.Team.Private}}</dd>
      <dt><strong>Joined:</strong></dt>
      <dd>{{teamData.Joined}}</dd>
      <dt><strong>Global accuracy:</strong></dt>
      <dd>{{100*teamData.Team.Accuracy | number:2}}%</dd>
    </dl>

    <div class="row" ng-repeat="acc in accuracyData.Accuracies">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <h4>Tournament: {{acc.TournamentId}}</h4>
        <h5>Team Accuracy in tournament: {{acc.Accuracy*100 | number:2}}%</h5>
      </div>
      <div class="col-md-3">
        <table class="table table-striped table-condensed">
          <thead>
    	<th>Progressioon</th>
          </thead>
          <tbody>
    	<tr ng-repeat="p in acc.Progression">
    	  <td class="col-md-8">{{100 * p.Value | number:2}}%</td>
    	</tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
