<div ng-include src="'templates/partials/notifications.html'"></div>
<ol class="breadcrumb">
  <li><a href="/ng#/teams">Teams</a></li>
  <li class="active">{{teamData.Team.Name}}</li>
</ol>
<div class="panel panel-default">
  <div class="panel-body">
    <div ng-if="isTeamAdmin">
      <!-- team's settings button -->
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-transparent dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog fa-lg"></i></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/ng#/teams/edit/{{teamData.Team.Id}}">Edit</a></li>
          <li><a href="#">Invite</a></li>
          <li><a data-toggle="modal" data-target="#team-modal">Manage admins</a></li>
          <li class="divider"></li>
          <li><a href="#" ng-click="deleteTeam()">Delete</a></li>
        </ul>
      </div>
    </div>

    <a class="gw-chevron" href="/ng#/teams"><i class="fa fa-chevron-left fa-lg" style="vertical-align: 50%;">  </i></a><h1 class="gw-h1">  {{teamData.Team.Name}}</h1>
    <!-- uncomment this to debug -->
    <!-- <p>debug:<br>isTeamAdmin: {{isTeamAdmin}}<br>teamData.Joined: {{teamData.Joined}}<br>team.Private: {{teamData.Team.Private}}<br>team.RequestSent: {{teamData.RequestSent}}</p> -->

    <!-- start if !isTeamAdmin && !teamData.Joined -->
    <div ng-if="!isTeamAdmin && !teamData.Joined">
      <p>debug: team not admin</p>
      <div ng-if="teamData.Team.Private">
        <form accept-charset="UTF-8" class="form-horizontal" method="post">
          <div class="form-control">
      	     <div ng-if="teamData.RequestSent">
      	        <input class="btn btn-default disabled" name="commit" type="submit" value="Request sent..." />
    	       </div>
    	      <div ng-if="!teamData.RequestSent">
      	       <input class="btn btn-primary" name="commit" ng-click="requestInvitation()" type="submit" value="Request invitation" />
    	      </div>
          </div>
        </form>
      </div>
      <div ng-if="!teamData.Team.Private">
        <joinbutton action="joinButtonMethod()" name="joinButtonName" />
      </div>
    </div>
    <!-- end if !isTeamAdmin && !teamData.Joined -->
    <!-- start if !isTeamAdmin && teamData.Joined -->
    <div ng-if="!isTeamAdmin && teamData.Joined">
      <joinbutton action="joinButtonMethod()" name="joinButtonName"/>
    </div>
    <!-- end if !isTeamAdmin && team && teamData.Joined -->

    <dl class="dl-horizontal">
      <dt><strong>Private:</strong></dt>
      <dd>{{teamData.Team.Private}}</dd>
      <dt><strong>Joined:</strong></dt>
      <dd>{{teamData.Joined}}</dd>
    </dl>
    <!-- modal -->
    <div id="team-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="teamModalLabel" aria-hidden="true">
    	<div class="modal-dialog">
    	  <div class="modal-content">
          <div class="modal-header">
    	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	      <h3 id="tournamentModalLabel">Manage Admins</h3>
          </div>
          <div class="modal-body">
    	      <div ng-include src="'templates/teams/adminCandidates.html'"></div>
          </div>
    	  </div>
    	</div>
    </div>
    <!-- / modal -->
  </div>
</div>
<div class="row centered">
  <div class="btn-group btn-group-gn">
    <a class="btn btn-default" ng-class="{active: tab == 'members'}" ng-click="onClickTab(tabs['members'])" href="/ng#/teams/{{teamData.Team.Id}}?tab=members">Members</a>
    <a class="btn btn-default" ng-class="{active: tab == 'ranking'}" ng-click="onClickTab(tabs['ranking'])" href="/ng#/teams/{{teamData.Team.Id}}?tab=ranking">Ranking</a>
    <a class="btn btn-default" ng-class="{active: tab == 'accuracies'}" ng-click="onClickTab(tabs['accuracies'])" href="/ng#/teams/{{teamData.Team.Id}}?tab=accuracies">Accuracies</a>
    <a class="btn btn-default" ng-class="{active: tab == 'prices'}" ng-click="onClickTab(tabs['prices'])" href="/ng#/teams/{{teamData.Team.Id}}?tab=prices">Prices</a>
  </div>
</div>
<div class="panel panel-default">
  <div class="tab-panel" ng-include="currentTab"></div>
</div>
