<div class="col-md-3">
  <div class="panel panel-default text-center" ng-controller="UserCardCtrl" ng-model="user">
    <div class="panel-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <p><img class="center-block img-circle img-responsive" src="{{user.ImageURL}}" height="80" width="80"></p>
          </div>
        </div>
        <div class="row">
          <p>
            <p ng-show="user.Alias.length > 0"><a href="/#/users/{{user.Id}}"><strong>{{user.Alias}}</strong></a></p>
            <p ng-show="user.Alias.length == 0"><a href="/#/users/{{user.Id}}"><strong>{{user.Username}}</strong></a></p>
          </p>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div ng-if="user.isMember != undefined">
              <div ng-if="user.isMember">
                <strong><input class="btn btn-info btn-sm disabled" name="commit" type="submit" value="Joined" /></strong>
              </div>
              <div ng-if="!user.isMember">
                <div ng-if="user.invitationSent">
                  <strong><input class="btn btn-default btn-sm disabled" name="commit" type="submit" value="Invitation sent..." /></strong>
                </div>
                <div ng-if="!user.invitationSent">
                  <strong><input class="btn btn-info btn-sm" ng-click="invite(user.Id, $index)" name="commit" type="submit" value="Invite" /></strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer gw-panel-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">Score</div>
        </div>
        <div class="row">
          <div class="col-md-12"><strong>{{user.Score}}</strong></div>
        </div>
      </div>
    </div>
  </div>
</div>
