/*app.css*/

body {
  background-color: #f5f5f5;
}

a {
  color: #ffa07a;
}

a:hover {
  color: #fa8072;
}

/* Button styles
-------------------------------------------------- */

.btn-primary {
  color: #ffffff;
  background-color: #fa8072;
  border-color: #fa8072;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #009085;
  border-color: #00625b;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #fa8072;
  border-color: #fa8072;
}
.btn-primary .badge {
  color: #fa8072;
  background-color: #ffffff;
}

.btn-warning {
  color: #ffffff;
  background-color: #ffa07a;
  border-color: #ff9f22;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #ff9813;
  border-color: #e48100;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #ffa07a;
  border-color: #ff9f22;
}
.btn-warning .badge {
  color: #ffa07a;
  background-color: #ffffff;
}

.btn-transparent {
  background-color: transparent;
  border: none;
  color: #a9a9a9;
  padding: 0px 12px;
}

.btn-transparent:hover {
  color: #696969;
}

.btn-group-gn {
  margin-bottom: 20px;
}

.gw-btn-default.active,
.gw-btn-default:hover {
  color: #fff;
  background-color: orange;
  border-color: #faebcc
}

/* End Button styles
-------------------------------------------------- */

.centered {
  text-align: center;
}

.gw-float-none {
  float:none;
}

/* Navbar styles
-------------------------------------------------- */

.navbar-default {
  background-color: #f5f7f4;
  border-radius: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  letter-spacing: 1px;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
  color: #ffa07a;
}

.navbar-default .navbar-nav .dropdown-menu>li>a {
  color: #f5f7f4;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:hover {
  color: #fa8072;
  background-color: #f5f7f4;
}

.navbar-default .navbar-nav .dropdown-menu>li>a:hover {
  color: #fa8072;
  background-color: #f5f7f4;
}

.navbar-nav>li>.dropdown-menu {
  background-color: #f5f7f4;
  font-size: 12px;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #ffa07a;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #fa8072;
}

.navbar-default .navbar-nav>.active>a {
  color: #fa8072;
  background-color: #f5f7f4;
  border-bottom: 1px solid #fa8072;
  padding-bottom: 5px;
}

.navbar-default .navbar-nav>.active>a:hover {
  color: #ffa07a;
  background-color: #f5f7f4;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  color: #ffa07a;
  background-color: #f5f7f4;
}

.navbar-default small {
  font-size: 10px;
}

.navbar-default .navbar-toggle {
  border: 2px solid #ffa07a;
}

.navbar-default .navbar-toggle  .icon-bar {
  background-color: #ffa07a;
}

.gw-badge {
  background-color: #ffa07a;
}

.navbar-default .navbar-nav>li>a:hover .gw-badge,
.navbar-default .navbar-nav>li>a:focus .gw-badge,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover .gw-badge,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus .gw-badge {
  background-color: #f5f7f4;
}

/* End Navbar styles
-------------------------------------------------- */

.gw-row {
  margin-right: 0px;
  margin-left: 0px;
}

.panel-default .panel-heading {
  background-color: #f5f7f4;
}

.header-welcome {
  margin-top: 50px;
  color: #fff;
  position:absolute;
  width: 100%;
}

.header-welcome img {
  margin-top: 50px;
}

.header-welcome h1 {
  font-size: 45pt;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

.header-welcome h3 {
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

.header-signin {
  margin-top: 270px;
  color: #fff;
  position:absolute;
  width: 100%;
}

.header-signin .btn {
  margin-bottom: 10px;
}

.header-signin-background {
  background: rgba(255,255,255,0.5);
  padding: 10px 25px 0px;
  border-radius: 5px;
}

/* intro Wrap */

.intro {
  color: #ffa07a;
  margin-top: 550px;
}

.intro img {
  margin-top: 20px;
}

.intro h3,
.intro h4 {
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

.intro h3 {
  color: #fff;
}

/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
}

/* Set the fixed height of the footer here */
#footer {
  height: auto;
  background-color: #ffa07a;
  border-top: 1px solid #fa8072;
  z-index: 9999;
  position:absolute;
  width: 100%;
}

#footer .container {
  margin-bottom: 18px;
}

.footer-content{
    float: left;
    padding: 15px;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    color: white;
}

.footer-link{
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    color: white;
}
/* End Sticky footer styles
-------------------------------------------------- */

.cover {
  background: url(/app/assets/img/stadium.jpg) no-repeat;
  background-size: cover;
}

.main-container {
  padding-top: 20px;
}

.gw-container {
  padding-top: 20px;
  background-color: #f5f5f5;
}

.gw-container-404 {
  color: #fff;
}

.gw-container-404 h1 {
  font-size: 80pt;
}

.gw-container-404 h2 {
  font-size: 30pt;
}

.gw-panel-heading {
  font-size: 12px;
}

.gw-panel-heading a {
  color: #000;
}

.gw-panel-footer {
  font-size: 12px;
}

.gw-row-activity {
  font-size: 12px;
  border-bottom: 1px solid #eee;
  margin-right: 0px;
  margin-left: 0px;
}

.gw-row-activity,
.gw-row-activity-more {
  margin-top: 10px;
}

.gw-row-activity a {
  color: #ffa07a;
}

.gw-row-activity h5 {
  margin-top: 5px;
}

.team {
  color: #3498db;
}

.tournament {
  color: #2ecc71;
}

.match {
  color: #f1c40f;
}

.score {
  color: #9b59b6;
}

.predict {
  color: #f39c12;
}

.accuracy {
  color: #e74c3c;
}

.user-dashboard h3 {
	text-align: center;
}

/* teams */


/* tournaments */
.panel-match h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.circle-avatar {
  border: 2px solid #67c2ef;
}

/* style for chevron icon*/
.gw-chevron {
  color: silver;
  text-decoration: none; /* no underline */
  a:hover { color:blue; }
}

/* Force inline for titles in order to be able to set icons before them without a break line in between*/
.gw-h1,
.gw-h3,
.gw-h6 {
  display: inline;
}
/* Break word when text size exceeds the size of its container*/
.gw-h1 .gw-small{
  word-break:break-all;
}

.gw-h3 {
  color: #ffa07a;
}

.gw-no-margin {
  margin: 0px;
}

.tab-panel {
  margin-top: 20px;
  margin-bottom: 20px;
}

.gn-grey {
  color: #a9a9a9;
}

.col-main-content,
.col-dashboard {
  background-color: #f5f5f5;
}

/* Panel
-------------------------------------------------- */

.table tbody>tr>td.gw-vert-align
{
    vertical-align: middle;
}

/* Panel
-------------------------------------------------- */
.panel-transparent {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Bracket
-------------------------------------------------- */
.gw-row-phase-even{
    /*background-color: green;*/
    display: table;
    padding-bottom: 10px;
}

.gw-row-phase-odd{
    background-color: #F5F5F5;
    display: table;
    padding-bottom: 10px;
}

.gw-row-phase-header-odd{
    background-color: #F5F5F5;
}

.gw-row-phase-header-even{
    /*right now transparent.*/
}

.gw-row-phase-odd [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.gw-row-phase-even [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.gw-match-number{
    font-weight: bold;
    float:left;
    position:absolute;
    clear:right;
}

.gw-no-margin-bottom{
    margin-bottom: 0px;
}

.gw-match{
    padding-top: 12px;
    padding-bottom: 12px;
}

.gw-cell-match{
    border-color: #ddd;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 12px;
    text-align: center;
    word-wrap: break-word;
    webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

/* End Bracket
-------------------------------------------------- */

/* Dashboard styles
-------------------------------------------------- */

.panel-default .gw-dashboard-panel-heading {
  height: 153px;
  padding-top: 25px;
}
.gw-dashboard-container {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: -15px;
  margin-left: -15px;
}

.gw-dashboard-icon-background {
  color: #ffa07a;
}

.gw-dashboard-icon {
  color: #fff;
}

.gw-dashboard-number {
  font-size: 25px;
  font-weight: 700;
}

.gw-dashboard-subtitle {
  font-size: 12px;
  font-weight: 500;
}

.gw-dashboard-h5 {
  font-weight: 500;
}

.table>tbody>tr>.gw-td-borderless {
  border-top: none;
  padding: 0px;
}

.gw-leaderboard {
  margin-left: 10px;
  margin-right: 10px;
}

.gw-dashboard-table {
  background-color: #fa8072;
  border: none;
}

.gw-leaderboard .table tr td,
.gw-dashboard-table .table tr td {
  color: #fa8072;
  font-weight: 500;
  border: none;
}

.gw-dashboard-table .table tr td a {
  color: white;
  display:inline-block;
  overflow: hidden;
  -o-text-overflow: ellipsis; /*Opera 9 */
  text-overflow: ellipsis; /* other browsers */
  width:200px;
}

.gw-leaderboard .table tr td {
  text-align: left;
}

.gw-leaderboard .table tr td a {
  display:inline-block;
  overflow: hidden;
  -o-text-overflow: ellipsis; /*Opera 9 */
  text-overflow: ellipsis; /* other browsers */
  width:130px;
}

.gw-leaderboard .table tr .gw-td-position {
  text-align: center;
}

.gw-leaderboard .table tr .gw-td-position {
  border: none;
  border-right: 1px solid #ddd;
}

/* End Dahsboard styles
-------------------------------------------------- */

/* Team Icon styles
-------------------------------------------------- */

.flag-icon-JUV {
  background: url(/app/assets/img/logo_club/juv.png) no-repeat;
}

.flag-icon-ASM {
  background: url(/app/assets/img/logo_club/asm.png) no-repeat;
}

.flag-icon-POR {
  background: url(/app/assets/img/logo_club/por.png) no-repeat;
}

.flag-icon-BYM {
  background: url(/app/assets/img/logo_club/bym.png) no-repeat;
}

.flag-icon-PSG {
  background: url(/app/assets/img/logo_club/psg.png) no-repeat;
}

.flag-icon-FCB {
  background: url(/app/assets/img/logo_club/fcb.png) no-repeat;
}

.flag-icon-ATM {
  background: url(/app/assets/img/logo_club/atm.png) no-repeat;
}

.flag-icon-RLM {
  background: url(/app/assets/img/logo_club/rlm.png) no-repeat;
}

/* Team Icon styles
-------------------------------------------------- */
