<div class="panel panel-default">
  <div class="panel-heading gw-panel-heading">
    <div class="row">
      <div class="col-md-1">
        <h6 class="gw-h6"><strong>Users</strong></h6>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                	<th>Id</th>
                	<th>Name</th>
                	<th>Username</th>
                	<th>Email</th>
                	<th>Created at</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="user in users | filter:query">
                	<td>{{user.Id}}</td>
                	<td><a href="/#/users/{{user.Id}}">{{user.Name}}</a></td>
                	<td>{{user.Username}}</td>
                	<td>{{user.Email}}</td>
                	<td>{{user.Created}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
