<div class="page-header">
  <h1><a href="/#/users">Users</a></h1>
</div>
<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
              	<th>Id</th>
              	<th>Name</th>
              	<th>Username</th>
              	<th>Email</th>
              	<th>Created at</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in users | filter:query">
              	<td>{{user.Id}}</td>
              	<td><a href="/#/users/{{user.Id}}">{{user.Name}}</a></td>
              	<td>{{user.Username}}</td>
              	<td>{{user.Email}}</td>
              	<td>{{user.Created}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
