<div ng-include src="'shared/notifications.html'"></div>
<div class="panel panel-default">
  <div class="panel-heading gw-panel-heading">
    <div class="row">
      <div class="col-md-12">
        <a class="gw-chevron" href="/#/users"><i class="fa fa-chevron-left fa-lg">  </i></a>
        <h6 class="gw-h6"><a href="/#/users"><strong>Users</strong></a></h6>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <h1 class="gw-h1">
      <i class="fa fa-user fa-lg"></i>
      {{userData.User.Username}}
    </h1>
    <!-- <div class="row"> -->
    </br></br>
    <h4>Teams you've joined:</h4>
    </br>
    <div class="container-fluid">
      <div class="row center-block">
        <div class="col-md-12">
          <span ng-repeat="gettingParentIndex in userData.Teams">
            <div class="row" ng-if="$index<userData.Teams.length/4+1">
              <span ng-repeat="team in userData.Teams">
                <div ng-if="$index>=4*$parent.$index && $index <= 4*($parent.$index+1)-1">
                  <div ng-include src="'shared/team_card.html'"></div>
                </div>
              </span>
            </div>
          </span>
          <h5 style="text-align: center">{{noJoinedTeamsMessage}}</h5>
        </div>
      </div>
      </br>
      <h4>Tournaments you've joined:</h4>
      </br>
      <div class="row center-block">
        <div class="col-md-12">
          <span ng-repeat="gettingParentIndex in userData.TournamentStats">
            <div class="row" ng-if="$index<userData.TournamentStats.length/4+1">
              <span ng-repeat="tournament in userData.TournamentStats">
                <div ng-if="$index>=4*$parent.$index && $index <= 4*($parent.$index+1)-1">
                  <div ng-include src="'shared/tournament_card.html'"></div>
                </div>
              </span>
            </div>
          </span>
          <h5 style="text-align: center">{{noJoinedTournamentsMessage}}</h5>
        </div>
      </div>
      </br>
      <h4>Team Requests:</h4>
      </br>
      <div ng-include src="'components/user/teamRequests.html'"></div>
      <h5 style="text-align: center">{{noTeamRequestsMessage}}</h5>
      </br>
      <h4>Invitations:</h4>
      </br>
      <div ng-include src="'components/user/userInvitations.html'" ng-show="currentUser.User.Id == userData.User.Id"></div>
      <h5 style="text-align: center">{{noInvitationMessage}}</h5>
      <!-- </div> <\!-- / row -\-> -->
    </div>
  </div>
</div> <!-- / panel -->
