<ol class="breadcrumb">
  <li class="active">Getting started</li>
</ol>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="container-fluid">
      <h1>Getting started</h1>
      <p class="text-left">
        By using <b>gonawin</b>, you will be able to play with your friends around your favorite sport events.
      </p>
      <hr>
      <h2>Sign in</h2>
      <div class="row">
        <div class="col-md-11 col-md-offset-1">
        	<p class="text-justify">
        	  <br><br>Join us by clicking on the <b>sign in</b> button in the home page and choose to log in with either your <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-google-plus fa-stack-1x fa-inverse"></i></span> Google+, <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-google fa-stack-1x fa-inverse"></i></span> Google, <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span> Twitter or <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span> Facebook account.
        	</p>
        </div>
      </div>
      <hr>
      <h2>Start</h2>
      <div class="row">
        <div class="col-md-4 col-md-offset-1">
        	<p class="text-justify">
        	  Once you sign up you will have access to the following:<br>
        	  <ul>
        	    <li>You will be able to either join an existing team, or create your own (teams can be private or public) by clicking in the <b>Teams</b> menu.</li>
        	    <li>You can also set the tournaments available for you to play on the <b>Tournaments</b> menu.</li>
        	    <li>In the <b>user</b> drop down menu you will find all the information relative to the user.</li>
        	  </ul>
        	</p>
        </div>
        <div class="col-md-7 text-center">
           <img src="app/assets/img/gs1/nav.jpg" class="img-thumbnail">
        </div>
      </div>
      <hr>
      <h2>Teams</h2>
      <div class="row">
        <div class="col-md-11 col-md-offset-1">
        	<p class="text-justify">
        	  Your team administrator will be able to sign your team up to an existing tournament and all the team members will be able to start playing said tournament right away.<br>
        	  You can be part of as many teams as you wish.
        	</p>
        </div>
      </div>
      <hr>
      <h2>User information</h2>
      <div class="row">
        <div class="col-md-3 col-md-offset-1">
        	<h3>Profile</h3>
        	<p class="text-justify">
        	  In your profile page you will find the following:
        	  <ul>
        	    <li>The teams you have joined</li>
        	    <li>The tournaments you are participating in</li>
        	    <li>Your pending team requests</li>
        	    <li>Your pending team invites</li>
        	  </ul><br>
        	</p>
        </div>
        <div class="col-md-8 text-center">
  	       <img src="app/assets/img/gs1/profile.jpg" class="img-thumbnail" height="400" width="400">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-1">
          <h3>Settings</h3>
          <p class="text-justify">
  	         In the <b>settings</b> section, you will find your profile information.<br>
          </p>
        </div>
        <div class="col-md-8 text-center">
  	       <img src="app/assets/img/gs1/settings.jpg" class="img-thumbnail" height="400" width="400">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-1">
          <h3>Invite</h3>
          <p class="text-justify">
            In the <b>invite</b> section you can send invitations to your friends to join you on <b>gonawin</b>.
          </p>
        </div>
        <div class="col-md-8 text-center">
          <img src="app/assets/img/gs1/invite.jpg" class="img-thumbnail" height="400" width="400">
        </div>
      </div>
      <hr>
      <h2>How to play</h2>
      <div class="row">
        <div class="col-md-3 col-md-offset-1">
          <p class="text-justify">
            On every match there is a <b>gonawin</b> button. By clicking on it you will see a form that you can fill in with your guess. Then just hit <b>save</b> and your prediction will be recorded.<br>
          </p>
        </div>
        <div class="col-md-7 text-center">
        	<img src="app/assets/img/gs1/matchjoin.jpg" class="img-thumbnail">
        	<img src="app/assets/img/gs1/matchpredict.jpg" class="img-thumbnail">
        	<img src="app/assets/img/gs1/matchpredictsaved.jpg" class="img-thumbnail">
        </div>
      </div>
      <hr>
      <h2>Tournaments</h2>
      <div class="row">
        <div class="col-md-11 col-md-offset-1">
        	<p class="text-justify">
        	  Right now the only tournament supported is the <b>2014 FIFA World Cup</b>.<br>
        	  In the tournament page you will find the different matches, the groups and the ranking of teams and users in this tournament.
        	</p>
        	<p class="text-justify">
        	  If you guessed correctly the score of a match you will get <b>3</b> points. If you guess correctly the trend of the match (meaning a draw, or the winner) you will get <b>1</b> point.
        	</p>
        </div>
      </div>
    </div>
  </div> <!-- / panel body -->
</div> <!-- / panel -->
