<br><br>
<div class="row centered">
  <div class="col-md-4 center-block gw-float-none">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sign in</h3>
      </div>
      <div class="panel-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <google-plus-signin><button class="btn btn-block btn-social btn-google-plus btn-lg" type="button"><i class="fa fa-google-plus"></i> Google+</button></google-plus-signin></div>
            </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <google-signin></google-signin>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <twitter-signin></twitter-signin>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <facebook-signin></facebook-signin>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
