<div class="header-welcome">
  <div class="container-fluid">
    <div class="row centered">
      <div class="col-md-12">
        <h1><b>GONAWIN</b></h1>
      </div>
    </div>
  </div>
</div>
<div class="header-signin">
  <div class="container-fluid">
    <div class="row centered">
      <div class="col-md-12">
        <h3>A social web application to challenge your friends<br>on your favorite sports events.<h3>
        <div class="row">
          <div class="col-md-offset-5 col-md-2 text-center">
            <facebook-signin></facebook-signin>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-5 col-md-2 text-center">
            <twitter-signin></twitter-signin>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-5 col-md-2 text-center">
            <google-signin></google-signin>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-5 col-md-2 text-center">
            <google-plus-signin><button class="btn btn-block btn-social btn-google-plus btn-lg" type="button"><i class="fa fa-google-plus"></i> Signin with Google+</button></google-plus-signin></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- INTRO WRAP -->
<div class="intro">
  <div class="container-fluid">
    <div class="row centered">
      <div class="col-md-12">
        <div class="panel panel-transparent">
          <div class="row centered">
            <div class="col-md-4">
              <img src="app/assets/img/icon-join-40-140.jpg" class="img-circle">
              <h3>PLAY</h3>
              <p>Put your sports<br>knowledge to a test.</p>
            </div>
            <div class="col-md-4">
              <img src="app/assets/img/icon-play-140-140.jpg" class="img-circle">
              <h3>JOIN</h3>
              <p>Become a part of a team, or create your own<br>and start competing!</p>
            </div>
            <div class="col-md-4">
              <img src="app/assets/img/icon-share-140-140.jpg" class="img-circle">
              <h3>SHARE</h3>
              <p>Do you know anyone who might like this?<br>Share the fun.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!--/ #introwrap -->
