<div ng-include src="'templates/partials/notifications.html'"></div>
<div class="page-header">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      <h1>Tournament Bet</h1>
      <dl class="dl-horizontal">
	<dt><strong>Id:</strong></dt>
	<dd>{{tournamentData.Tournament.Id}}</dd>
	<dt><strong>Name:</strong></dt>
	<dd>{{tournamentData.Tournament.Name}}</dd>
      </dl>
    </div>
  </div>
</div>
<!-- Calendar -->

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div ng-repeat="d in matchesData.Days">
      <h3>{{d.Date | date:'EEE dd MMM'}}</h3>
      <div class="calendar">
	<table class="table table-striped">
	  <thead>
	    <!-- <tr><th>Days</th></tr> -->
	  </thead>
	  <tbody>
	    <tr ng-repeat="m in d.Matches">
	      <div class="row">
		<td class="col-md-1">#{{m.IdNumber}}</td>
		<td class="col-md-2">
		  <p>{{m.Team1}} <b>{{m.Result1}}</b> - <b>{{m.Result2}}</b> {{m.Team2}}<br><small>{{m.Location}}</small></p>
		</td>
		<td class="col-md-8">
		  <p>
		    <button class="btn btn-primary btn-xs" ng-show="!m.betDone" ng-click="activateBet(m.IdNumber, $index, $parent.$index)"><span class="glyphicon glyphicon glyphicon-edit"> </span></button>
		    <button class="btn btn-success btn-xs" ng-show="m.betDone"><span class="glyphicon glyphicon glyphicon-check"> ready</span></button>
		  </p>
		  <div ng-show="m.wantToBet">
		    <form class="form" role="form" ng-submit="updateResult()">
		      <div class="row">
			<div class="col-xs-1">
			  <small><label class="control-label">{{m.Team1}}</label></small>
			</div>
			<div class="col-xs-2">
			  <p><input type="text" class="form-control input-sm" id="{{m.IdNumber}}" ng-model="result1" placeholder=""> </p>
			</div>
			<div class="col-xs-2">
			  <p><input type="text" class="form-control input-sm" id="{{m.IdNumber}}" ng-model="result2" placeholder=""> </p>
			</div>
			<div class="col-xs-1">
			  <small><label class="control-label">{{m.Team2}}</label></small>
			</div>
			<div class="col-xs-1"></div>
			<div class="col-xs-1">
			  <button type="submit" class="btn btn-primary btn-xs" ng-click="bet(m.IdNumber, $index, $parent.$index, result1, result2)"><span class="glyphicon glyphicon-share"></span></button>
			</div>
		      </div>
		    </form>
		  </div>
		</td>
	      </div>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>
    <!-- / Calendar -->
  </div>
</div>
<!-- Calendar -->
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div ng-repeat="phase in matchesData.Phases">
      <div class="calendar">
	<h3>{{phase.Name}}</h3>
	<table class="table table-striped">
	  <thead>
    	    <!-- <tr><th>Days</th></tr> -->
	  </thead>
	  <tbody>
    	    <tr ng-repeat="d in phase.Days">
              <td><b>{{d.Date | date:'EEE dd MMM'}}</b></td>
    	      <td>
    		<div ng-repeat="m in d.Matches">
    		  <p>#{{m.IdNumber}}: {{m.Team1}} <b>{{m.Result1}}</b> - <b>{{m.Result2}}</b> {{m.Team2}} Location: {{m.Location}}</p>
    		</div>
    	      </td>
    	    </tr>
	  </tbody>
	</table>
      </div>
      <!-- / Calendar -->
    </div>
  </div>
</div>
