<div ng-include src="'templates/partials/notifications.html'"></div>
<div class="page-header">
  <h1>Tournament Calendar By Day</h1>

<dl class="dl-horizontal">
  <dt><strong>Id:</strong></dt>
  <dd>{{tournamentData.Tournament.Id}}</dd>
  <dt><strong>Name:</strong></dt>
  <dd>{{tournamentData.Tournament.Name}}</dd>
</dl>

<!-- Calendar -->
<!-- <div ng-repeat="d in daysData.Days"> -->
<!--   <h3>{{d.Date | date:'dd/MM'}}</h3> -->
<!--   <div ng-repeat="m in d.Matches"> -->
<!--     <p>N°{{m.IdNumber}}</p> -->
<!--     <p>{{m.Team1}} - {{m.Team2}}</p> -->
<!--     <p>Location: {{m.Location}}</p> -->
<!--   </div> -->
<!-- </div> -->
<div class="calendar">
  <table class="table table-striped">
    <thead>
      <tr><th>Days</th></tr>
    </thead>
    <tbody>
	<tr ng-repeat="d in daysData.Days">
          <td><b>{{d.Date | date:'dd/MM'}}</b></td>
	  <td>
	  <div ng-repeat="m in d.Matches">
	    <p>N°:{{m.IdNumber}}: {{m.Team1}} - {{m.Team2}} Location: {{m.Location}}</p>
	  </div>
	  </td>
	</tr>
    </tbody>
  </table>
</div>
<!-- / Calendar -->
