<div ng-include src="'templates/partials/notifications.html'"></div>
<div class="page-header">
  <h1>Tournament Calendar</h1>

<dl class="dl-horizontal">
  <dt><strong>Id:</strong></dt>
  <dd>{{tournamentData.Tournament.Id}}</dd>
  <dt><strong>Name:</strong></dt>
  <dd>{{tournamentData.Tournament.Name}}</dd>
</dl>

<!-- Calendar -->
<div class="calendar">
  <p>Calendar here</p>
  <table class="table table-striped">
    <thead>
      <tr>
	<th>N°</th>
	<th>Match</th>	
	<th>Location</th>	
	<th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="m in matchesData.Matches">
        <td><p>N°:{{m.IdNumber}}</p></td>
	<td>{{m.Team1}} - {{m.Team2}}</td>
	<td>Location: {{m.Location}}</td>
	<td>{{m.Date | date:'dd MMM'}}</td>
      </tr>
    </tbody>
  </table>

</div>
<!-- / Calendar -->
