<div class="page-header">
  <h1>Edit Tournament</h1>
</div>
<div>
  <form name="editTournamentForm" class="form-horizontal">
    <div class="form-group" ng-class="{error: editTournamentForm.name.$invalid}">
      <div class="form-control">
	<label class="control-label">Name</label>
	<input class="text_field" name="name" size="30" type="text" ng-model="tournamentData.Tournament.Name" required/>
	<span ng-show="editTournamentForm.name.$error.required" class="help-inline"> Required</span>
      </div>
    </div>
    <div class="form-control">
      <a href="/ng#/tournaments/show/{{tournamentData.Tournament.Id}}" class="btn btn-default">Cancel</a>
      <button class="btn btn-primary" ng-click="updateTournament()" ng-disabled="editTournamentForm.$invalid">Update Tournament</button>
    </div>
  </form>
</div>
