<div ng-include src="'templates/partials/notifications.html'"></div>
<div class="page-header">
  <h1>Tournament First stage</h1>

<dl class="dl-horizontal">
  <dt><strong>Id:</strong></dt>
  <dd>{{tournamentData.Tournament.Id}}</dd>
  <dt><strong>Name:</strong></dt>
  <dd>{{tournamentData.Tournament.Name}}</dd>
</dl>

<!-- Groups -->
<div class="groups">
  <table class="table table-striped">
    <thead><tr><th>Groups</th></tr></thead>
    <tbody>
      <tr ng-repeat="g in groupsData.Groups">
        <td><p>Group {{g.Name}}</p></td>
	<td>
	  <p ng-repeat="t in g.Teams">{{t.Name}}</p>
	</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- / Groups -->
