<div ng-include src="'templates/partials/notifications.html'"></div>
<div class="page-header">
  <h1><a href="/ng#/tournaments">Tournaments</a></h1>
  <div class="btn-toolbar">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2">
	<a class="btn btn-primary" href="/ng#/tournaments/new"><i class="glyphicon glyphicon-plus glyphicon-white"></i> Create</a>
	<!-- experimental sar -->
	<button class="btn btn-primary" ng-click="createWorldCup()">wc</button>
      </div>
      <!-- search box -->
      <div class="col-md-8">
	<div class="input-group">
	  <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
	  <form ng-submit="searchTournament()">
	    <input type="text" class="form-control" name="TournamentInputSearch" id="inputIcon" ng-model="keywords">
	  </form>
	</div>
      </div>
      <!-- / search box -->
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
<div class="page-content">
  <table class="table table-striped" ng-show="tournaments.length">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tournament in tournaments | filter:query">
        <td>{{tournament.Id}}</td>
        <td><a href="/ng#/tournaments/{{tournament.Id}}">{{tournament.Name}}</a></td>
      </tr>
    </tbody>
  </table>
  <h3 style="text-align: center">{{noTournamentsMessage}}</h3>
</div>
