<div class="page-header">
  <h1>New Tournament</h1>
</div>
<form name="newTournamentForm" class="form-horizontal">
  <div class="form-group" ng-class="{error: newTournamentForm.name.$invalid}">
    <div class="form-group">
      <label class="control-label">Name</label>
      <input class="text_field" name="name" size="30" type="text" ng-model="tournament.name" required/>
      <span ng-show="newTournamentForm.name.$error.required" class="help-inline"> Required</span>
    </div>
  </div>
  <div>
    <a href="/ng#/tournaments" class="btn btn-default">Cancel</a>
    <button class="btn btn-primary" ng-click="addTournament()" ng-disabled="newTournamentForm.$invalid">Create Tournament</button>
  </div>
</form>
