<div ng-include src="'templates/partials/notifications.html'"></div>
<div class="page-header">
  <h1>Tournament Second Stage</h1>

<dl class="dl-horizontal">
  <dt><strong>Id:</strong></dt>
  <dd>{{tournamentData.Tournament.Id}}</dd>
  <dt><strong>Name:</strong></dt>
  <dd>{{tournamentData.Tournament.Name}}</dd>
</dl>

<!-- Calendar -->
<div class="secondstage">
  <p>Second stage here</p>
  <div class="row">
    <div class="col-md-1"><h5>Round of 16</h5></div>
    <div class="col-md-1"><h5>Quarter finals</h5></div>
    <div class="col-md-2"><h5>Semi finals</h5></div>
    <div class="col-md-4"><h5>Finals</h5></div>
    <div class="col-md-2"><h5>Semi finals</h5></div>
    <div class="col-md-1"><h5>Quarter finals</h5></div>
    <div class="col-md-1"><h5>Round of 16</h5></div>
  </div>

  <div class="row">
    <div class="col-md-1">{{matchesData.Matches[0].Team1}}-{{matchesData.Matches[0].Team2}}</div>
    <div class="col-md-1">{{matchesData.Matches[8].Team1}}-{{matchesData.Matches[8].Team2}}</div>
    <div class="col-md-2">3--------------------------------------------------</div>
    <div class="col-md-4">4--------------------------------------------------</div>
    <div class="col-md-2">5--------------------------------------------------</div>
    <div class="col-md-1">{{matchesData.Matches[10].Team1}}-{{matchesData.Matches[10].Team2}}</div>
    <div class="col-md-1">{{matchesData.Matches[2].Team1}}-{{matchesData.Matches[2].Team2}}</div>
  </div>
  <div class="row">
    <div class="col-md-1">{{matchesData.Matches[1].Team1}}-{{matchesData.Matches[1].Team2}}</div>
    <div class="col-md-1">2--------------------------------------------------</div>
    <div class="col-md-2">{{matchesData.Matches[12].Team1}}-{{matchesData.Matches[12].Team2}}</div>
    <div class="col-md-4">{{matchesData.Matches[15].Team1}}-{{matchesData.Matches[15].Team2}}</div>
    <div class="col-md-2">{{matchesData.Matches[13].Team1}}-{{matchesData.Matches[13].Team2}}</div>
    <div class="col-md-1">6--------------------------------------------------</div>
    <div class="col-md-1">{{matchesData.Matches[3].Team1}}-{{matchesData.Matches[3].Team2}}</div>
  </div>
  <div class="row">
    <div class="col-md-1">{{matchesData.Matches[4].Team1}}-{{matchesData.Matches[4].Team2}}</div>
    <div class="col-md-1">2--------------------------------------------------</div>
    <div class="col-md-2">3--------------------------------------------------</div>
    <div class="col-md-4">{{matchesData.Matches[14].Team1}}-{{matchesData.Matches[14].Team2}}</div>
    <div class="col-md-2">5--------------------------------------------------</div>
    <div class="col-md-1">6--------------------------------------------------</div>
    <div class="col-md-1">{{matchesData.Matches[6].Team1}}-{{matchesData.Matches[6].Team2}}</div>
  </div>
  <div class="row">
    <div class="col-md-1">{{matchesData.Matches[5].Team1}}-{{matchesData.Matches[5].Team2}}</div>
    <div class="col-md-1">{{matchesData.Matches[9].Team1}}-{{matchesData.Matches[9].Team2}}</div>
    <div class="col-md-2">3--------------------------------------------------</div>
    <div class="col-md-4">4--------------------------------------------------</div>
    <div class="col-md-2">5--------------------------------------------------</div>
    <div class="col-md-1">{{matchesData.Matches[11].Team1}}-{{matchesData.Matches[11].Team2}}</div>
    <div class="col-md-1">{{matchesData.Matches[7].Team1}}-{{matchesData.Matches[7].Team2}}</div>
  </div>
</div>

<!-- / Calendar -->
