<div ng-include src="'templates/partials/notifications.html'"></div>
<div class="panel panel-default">
  <ol class="breadcrumb">
    <li><a href="/ng#/tournaments">Tournaments</a></li>
    <li class="active">{{tournamentData.Tournament.Name}}</li>
  </ol>
  <div class="panel-body">
    <div class="page-header">
      <div ng-include src="'templates/tournaments/header.html'"></div>
      <!-- actions -->
      <div class="row">
      	<div class="col-md-1"></div>
      	<div class="col-md-10">
      	  <form class="form-horizontal">
            <div class="form-group">
      	      <div class="btn-group pull-right">  
		<joinbutton action="joinButtonMethod()" name="joinButtonName"/>
		<button class="btn btn-default" data-toggle="modal" data-target="#tournament-modal">Add Team</button>
		<a ng-if="isTournamentAdmin" href="/ng#/tournaments/edit/{{tournamentData.Tournament.Id}}" class="btn btn-default"><i class="fa fa-edit fa-fw"></i> Edit</a>
                <input ng-if="isTournamentAdmin" id="action" name="Action" type="hidden" value="delete" />
                <button ng-if="isTournamentAdmin" class="btn btn-default" name="delete" onclick="return confirm('Are you sure?');" ng-click="deleteTournament()"><i class="fa fa-trash-o fa-fw"></i> Delete</button>
	      </div>
      	    </div>
      	  </form>
	</div>
      </div>
      <!-- / admin actions -->
      <!-- modal -->
      <div id="tournament-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tournamentModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
            <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	      <h3 id="tournamentModalLabel">Add Team</h3>
            </div>
            <div class="modal-body">
	      <div ng-include src="'templates/tournaments/teamCandidates.html'"></div>
            </div>
	  </div>
	</div>
      </div>
      <!-- / modal -->
    </div>
    <!-- / page header -->
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{100 * tournamentData.Progress | number:0}}%;">
	{{100 * tournamentData.Progress | number:0}}%
      </div>
    </div>
    <!-- tournament views -->
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-11">
	<div class="btn-group btn-group-justified">
          <a class="btn btn-default" href="" ng-click="groupOnClick()">Groups</a>
          <a class="btn btn-default" href="" ng-click="calendarOnClick()">Calendar</a>
          <!-- <a class="btn btn-default" href="/ng#/tournaments/{{tournamentData.Tournament.Id}}/calendar">Calendar</a> -->
          <a class="btn btn-default" href="" ng-click="firstStageOnClick()">First Stage</a>
          <!-- <a class="btn btn-default" href="/ng#/tournaments/{{tournamentData.Tournament.Id}}/matches/firststage">First Stage</a> -->
	  <div class="btn-group">
	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	      Second Stage
	      <span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu">
              <li><a href="" ng-click="secondPhaseHorizontalOnClick()">Horizontal</a></li>
	      <li><a href="" ng-click="secondPhaseVerticalOnClick()">Vertical</a></li>
              <!-- <li><a href="/ng#/tournaments/{{tournamentData.Tournament.Id}}/matches/secondstage">Horizontal</a></li> -->
	      <!-- <li><a href="/ng#/tournaments/{{tournamentData.Tournament.Id}}/matches/secondstage2">Vertical</a></li> -->
	    </ul>
	  </div>
          <a class="btn btn-default" href="/ng#/tournaments/{{tournamentData.Tournament.Id}}/predict">Predict</a>
          <a class="btn btn-default" href="/ng#/tournaments/{{tournamentData.Tournament.Id}}/ranking">Ranking</a>
	  <!-- admin buttons -->
	  <div class="btn-group">
	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	      Admin
	      <span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu">
	      <li><a href="/ng#/tournaments/{{tournamentData.Tournament.Id}}/matches/setresults">set results</a></li>
              <li><a href="" ng-click="resetTournament()"><span class="glyphicon glyphicon glyphicon-refresh"> reset</span></a></li>
	    </ul>
	  </div>
	</div>
      </div>
    </div>
    <hr>
    <div ng-if="isCalendar">
      <div ng-controller="TournamentCalendarCtrl">
	<div ng-include src="'templates/tournaments/tab_calendar.html'"></div>
      </div>
    </div>
    <div ng-if="isFirstStage">
      <div ng-controller="TournamentFirstStageCtrl">
	<div ng-include src="'templates/tournaments/tab_firststage.html'"></div>
      </div>
    </div>
    <div ng-if="isSecondPhaseVertical || isSecondPhaseHorizontal">
      <div ng-controller="TournamentSecondStageCtrl">
	<div ng-if="isSecondPhaseVertical">
    	  <div ng-include src="'templates/tournaments/tab_bracketV.html'"></div>
	</div>
	<div ng-if="isSecondPhaseHorizontal">
    	  <div ng-include src="'templates/tournaments/tab_bracketH.html'"></div>
	</div>
      </div>
    </div>
  </div>
</div>
