<!-- candidates -->
<div ng-if="candidates.length > 0">
  <table class="table table-hover">
    <tbody>
      <tr ng-repeat="t in candidates">
        <form accept-charset="UTF-8" class="form-horizontal">
          <td><a href="/ng#/teams/show/{{t.Id}}">{{t.Name}}</a></td>
          <td>
            <joinbutton action="joinAsTeamButtonMethod[t.Id](t.Id)" name="joinAsTeamButtonName[t.Id]" />
          </td>
        </form>
      </tr>
    </tbody>
  </table>
</div>
<div ng-if="!candidates || candidates.length == 0">
  <div id="no_team">
    <p>No team has been created by you.</p>
    <a href="/ng#/teams/new" class="btn btn-primary"><span>Create new team</span></a>
  </div>
</div>
<!-- end of candidates -->
