<!-- uncomment this to debug -->
<!-- <p>debug:<br>isTeamAdmin: {{isTeamAdmin}}<br>teamData.Joined: {{teamData.Joined}}<br>team.Private: {{teamData.Team.Private}}<br>team.RequestSent: {{teamData.RequestSent}}</p> -->

<div class="row">
  <div class="col-md-10">
    <h1 class="gw-h1">
      {{teamData.Team.Name}}
      <small class="gw-small">{{teamData.Team.Description}}</small>
    </h1>
    <i class="fa fa-lock fa-lg" ng-show="teamData.Team.Private"></i>
  </div>
  <!-- actions -->
  <div class="col-md-2">
    <!-- start if !isTeamAdmin && !teamData.Joined -->
    <div ng-if="!isTeamAdmin && !teamData.Joined">
      <div ng-if="teamData.Team.Private">
        <div ng-if="teamData.RequestSent">
          <input class="btn btn-default disabled pull-right" name="commit" type="submit" value="Request sent..." />
        </div>
        <div ng-if="!teamData.RequestSent">
          <input class="btn btn-primary pull-right" name="commit" ng-click="requestInvitation()" type="submit" value="Request invitation" />
        </div>
      </div>
      <div ng-if="!teamData.Team.Private">
        <joinbutton class="pull-right" action="joinButtonMethod()" name="joinButtonName" />
      </div>
    </div>
    <!-- end if !isTeamAdmin && !teamData.Joined -->
    <!-- start if !isTeamAdmin && teamData.Joined -->
    <div ng-if="!isTeamAdmin && teamData.Joined">
      <joinbutton class="pull-right" action="joinButtonMethod()" name="joinButtonName"/>
    </div>
    <!-- end if !isTeamAdmin && team && teamData.Joined -->
  </div>
  <!-- / actions -->
  <!-- modal -->
  <div id="team-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="teamModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="tournamentModalLabel">Manage Admins</h3>
        </div>
        <div class="modal-body">
          <div ng-include src="'components/team/adminCandidates.html'"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- / modal -->
</div>
