<div ng-include src="'shared/notifications.html'"></div>
<ol class="breadcrumb">
  <li><a href="/#/teams">Teams</a></li>
  <li><a href="/#/teams/{{teamData.Team.Id}}">{{teamData.Team.Name}}</a></li>
  <li class="active">Invite</li>
</ol>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-4">
        <!-- search box -->
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
          <form ng-submit="searchTeam()">
            <input type="text" class="form-control" name="TeamInputSearch" id="inputIcon" ng-model="keywords" placeholder="search users to join your team">
          </form>
        </div>
        <!-- / search box -->
      </div>
    </div> <!-- / row -->
    <hr>
    <div class="row center-block">
      <div ng-repeat="user in users">
        <div class="panel panel-default card">
          <img class="card-avatar pull-left" src="https://sigil.cupcake.io/{{user.Id}}.png?inverted=1" height="80" width="80">
          <div class="card-body">
            <p>
              <h4 ng-show="user.Alias.length > 0"><a href="/#/users/{{user.Id}}">{{user.Alias}}</a></h4>
              <h4 ng-show="user.Alias.length == 0"><a href="/#/users/{{user.Id}}">{{user.Username}}</a></h4>
            </p>
            <button type="button" class="btn btn-success btn-xs" disabled="disabled" ng-show="user.isMember">
              <span class="glyphicon glyphicon-ok"></span> Member
            </button>
            <button type="button" class="btn btn-primary btn-xs" ng-click="invite(user.Id, $index)" ng-hide="user.isMember || user.invitationSent">
              <span class="glyphicon glyphicon-plus"></span> Invite
            </button>
            <button type="button" class="btn btn-default btn-xs" disabled="disabled" ng-show="user.invitationSent">
              <span class="glyphicon glyphicon-time"></span> Invitation sent
            </button>
          </div>
        </div>
      </div>
      <small><h3 style="text-align: center">{{noUsersMessage}}</h3></small>
    </div> <!-- / users row -->
    <hr>
    <!-- invitations sent row -->
    <div class="row center-block">
      <h3>Invitations sent:</h3>
      <div ng-repeat="user in invitedUsers">
        <div class="panel panel-default card">
          <img class="card-avatar pull-left" src="https://sigil.cupcake.io/{{user.Id}}.png?inverted=1" height="80" width="80">
          <div class="card-body">
            <p>
              <h4 ng-show="user.Alias.length > 0"><a href="/#/users/{{user.Id}}">{{user.Alias}}</a></h4>
              <h4 ng-show="user.Alias.length == 0"><a href="/#/users/{{user.Id}}">{{user.Username}}</a></h4>
            </p>
            <button type="button" class="btn btn-default btn-xs" disabled="disabled">
              <span class="glyphicon glyphicon-time"></span> Invitation sent
            </button>
          </div>
        </div>
      </div>
      <small><h3 style="text-align: center">{{noInvitationsMessage}}</h3></small>
    </div> <!-- / invitations sent row -->
  </div> <!-- / body -->
</div> <!-- / panel -->
