<div ng-include src="'shared/notifications.html'"></div>
<div class="panel panel-default">
  <div class="panel-heading gw-panel-heading"><strong>Invite to {{teamData.Team.Name}}</strong></div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-md-offset-8">
          <!-- search box -->
          <form ng-submit="searchTeam()">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" class="form-control" name="TeamInputSearch" id="inputIcon" ng-model="keywords" placeholder="search users to join your team">
            </div>
          </form>
          <!-- / search box -->
        </div>
      </div> <!-- / row -->
      <hr>
      <div class="row center-block">
        <div class="col-md-12">
          <div ng-repeat="user in users">
            <div class="col-md-3">
              <div class="panel panel-default text-center">
                <div class="panel-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12">
                        <p><img class="center-block img-circle img-responsive" src="https://sigil.cupcake.io/{{user.Id}}.png?inverted=1" height="80" width="80"></p>
                      </div>
                    </div>
                    <div class="row">
                      <p>
                        <h4 ng-show="user.Alias.length > 0"><a href="/#/users/{{user.Id}}">{{user.Alias}}</a></h4>
                        <h4 ng-show="user.Alias.length == 0"><a href="/#/users/{{user.Id}}">{{user.Username}}</a></h4>
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <button type="button" class="btn btn-success btn-xs" disabled="disabled" ng-show="user.isMember">
                        <span class="glyphicon glyphicon-ok"></span> Member
                      </button>
                      <button type="button" class="btn btn-primary btn-xs" ng-click="invite(user.Id, $index)" ng-hide="user.isMember || user.invitationSent">
                        <span class="glyphicon glyphicon-plus"></span> Invite
                      </button>
                      <button type="button" class="btn btn-default btn-xs" disabled="disabled" ng-show="user.invitationSent">
                        <span class="glyphicon glyphicon-time"></span> Invitation sent
                      </button>
                    </div>
                  </div>
                </div>
                <div class="panel-footer gw-panel-footer">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12">Score</div>
                    </div>
                    <div class="row">
                      <div class="col-md-12"><strong>{{user.Score}}</strong></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <small><h3 style="text-align: center">{{noUsersMessage}}</h3></small>
        </div>
      </div> <!-- / users row -->
      <hr>
      <!-- invitations sent row -->
      <div class="row center-block">
        <div class="col-md-12">
          <h3>Invitations sent:</h3>
          <div ng-repeat="user in invitedUsers">
            <div class="panel panel-default card">
              <img class="card-avatar pull-left" src="https://sigil.cupcake.io/{{user.Id}}.png?inverted=1" height="80" width="80">
              <div class="card-body">
                <p>
                  <h4 ng-show="user.Alias.length > 0"><a href="/#/users/{{user.Id}}">{{user.Alias}}</a></h4>
                  <h4 ng-show="user.Alias.length == 0"><a href="/#/users/{{user.Id}}">{{user.Username}}</a></h4>
                </p>
                <button type="button" class="btn btn-default btn-xs" disabled="disabled">
                  <span class="glyphicon glyphicon-time"></span> Invitation sent
                </button>
              </div>
            </div>
          </div>
          <small><h3 style="text-align: center">{{noInvitationsMessage}}</h3></small>
        </div>
      </div> <!-- / invitations sent row -->
    </div>
  </div> <!-- / body -->
</div> <!-- / panel -->
