<div ng-include src="'shared/notifications.html'"></div>
<div class="panel panel-default">
  <div class="panel-heading gw-panel-heading"><strong>Invite to {{teamData.Team.Name}}</strong></div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-md-offset-8">
          <!-- search box -->
          <form ng-submit="searchTeam()">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" class="form-control" name="TeamInputSearch" id="inputIcon" ng-model="keywords" placeholder="search users to join your team">
            </div>
          </form>
          <!-- / search box -->
        </div>
      </div> <!-- / row -->
      <hr>
      <div class="row center-block">
        <div class="col-md-12">
          <span ng-repeat="gettingParentIndex in users">
            <div class="row" ng-if="$index<users.length/4+1">
              <span ng-repeat="user in users">
                <div ng-if="$index>=4*$parent.$index && $index <= 4*($parent.$index+1)-1">
                  <div ng-include src="'shared/user_card.html'"></div>
                </div>
              </span>
            </div>
          </span>
          <small><h3 style="text-align: center">{{noUsersMessage}}</h3></small>
        </div>
      </div> <!-- / users row -->
      <hr>
      <!-- invitations sent row -->
      <div class="row center-block">
        <div class="col-md-12">
          <h3>Invitations sent:</h3>
          <span ng-repeat="gettingParentIndex in invitedUsers">
            <div class="row" ng-if="$index<invitedUsers.length/4+1">
              <span ng-repeat="user in invitedUsers">
                <div ng-if="$index>=4*$parent.$index && $index <= 4*($parent.$index+1)-1">
                  <div ng-include src="'shared/user_card.html'"></div>
                </div>
              </span>
            </div>
          </span>
          <small><h3 style="text-align: center">{{noInvitationsMessage}}</h3></small>
        </div>
      </div> <!-- / invitations sent row -->
    </div>
  </div> <!-- / body -->
</div> <!-- / panel -->
