<div ng-include src="'shared/notifications.html'"></div>
<div class="panel panel-default">
  <div class="panel-heading gw-panel-heading"><strong>New team</strong></div>
  <div class="panel-body">
    <form class="form-horizontal" role="form" name="newTeamForm">
      <div class="form-group" ng-class="{error: newTeamForm.name.$invalid}">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-4">
          <input class="text_field form-control" name="name" size="40" type="text" ng-model="team.name" focus="true" required/>
        </div>
        <span ng-show="newTeamForm.name.$error.required" class="text-danger"> Required</span>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-4">
          <textarea  class="form-control" name="description" size="30" rows="3" ng-model="team.description" /></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Visibility</label>
        <div class="col-sm-10">
          <div class="radio">
            <label>
              <input name="visibility" type="radio" value="Public" ng-model="team.visibility" ng-init="team.visibility='Public'"/> Public (Anyone can join this team)<br>
            </label>
            <label>
              <input name="visibility" type="radio" value="Private" ng-model="team.visibility"/> Private (users must request an invitation)
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <a href="/#/teams" class="btn btn-default btn-sm"><strong>Cancel</strong></a>
          <button class="btn btn-primary btn-sm" type="button" ng-click="addTeam()" ng-disabled="newTeamForm.$invalid"><strong>Create Team</strong></button>
        </div>
      </div>
    </form>
  </div>
</div>
