<nav  class="navbar navbar-navy" role="navigation" ng-controller="NavigationCtrl" bs-navbar>
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" ng-if="currentUser.User.IsAdmin">gonawin - admin</a>
      <a class="navbar-brand" href="#" ng-if="!currentUser.User.IsAdmin">gonawin</a>
    </div>
    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" ng-if="isLoggedIn">
        <li class="dropdown" ng-show="currentUser.User.IsAdmin">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">
            Manage
            <b class="caret"></b>	
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href=""><i class="fa fa-user fa-lg fa-inverse"></i> Users</a></li>
            <li><a href=""><i class="fa fa-users fa-lg fa-inverse"></i> Teams</a></li>
            <li><a href=""><i class="fa fa-trophy fa-lg fa-inverse"></i> Tournaments</a></li>
          </ul>
        </li>
        <li data-match-route="/teams.*"><a href="/ng#/teams"><i class="fa fa-users fa-lg fa-inverse"></i> Teams</a></li>
        <li data-match-route="/tournaments.*"><a href="/ng#/tournaments"><i class="fa fa-trophy fa-lg fa-inverse"></i> Tournaments</a></li>
      </ul>
      <ul class="nav navbar-nav" ng-if="isLoggedIn">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">
            <i class="fa fa-user fa-lg fa-inverse"></i>
            {{currentUser.User.Username}}
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="/ng#/users/{{currentUser.User.Id}}"><i class="fa fa-user fa-lg"></i> Profile</a></li>
            <li><a href="/ng#/settings/edit-profile"><i class="fa fa-gear fa-lg"></i> Settings</a></li>
            <li><a href="/ng#/invite"><i class="fa fa-bullhorn fa-lg"></i> Invite</a></li>
            <li><a href="" ng-click="disconnect()"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav >
