/*main.css*/

body {
	padding-top: 20px;
	padding-bottom: 40px;
}

.container {
	margin: 0 auto;
	max-width: 900px;
}
.container > hr {
	margin: 30px 0;
}

.footer p {
	text-align: center;
}

.search-box {
	float: right;
}