/*main.css*/

html, body {
  height: 100%;
}

body {
  background-color: #465E8F;
}

/* Paragraph & Typographic */
p {
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}


#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#push {
  height: 60px;
}

.header {
	padding-top: 40px;
  color: white;
}

.header h5 {
	font-weight: 700;
	text-align: left;
}

/* intro Wrap */

.intro {
	padding-top: 100px;
  color: white;
}

.footer {
	background-color: #A7BBD6;
  height: 60px;
  z-index: 9999;
}
.footer_content {
  text-align: center;
  color: white;
  font-weight: 400;
  margin: 20px 0;
}

/* Links */
/* Sar: modified css so that link style is only aplicable to footer. */
.footer_content a {
  color: #465E8F;
  word-wrap: break-word;

  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

.footer_content a:before,
.footer_content a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

.main-content,
.user-dashboard {
  background-color: white;
}