<!-- participants ranking -->
<div class="panel panel-default gw-leaderboard">
  <table class="table table-bordered table-condensed">
    <tr ng-repeat="u in dashboard.rank.users">
      <td ng-show="u.Id == dashboard.userid" class="gw-td-position info">{{$index + 1}}</td>
      <td ng-show="u.Id != dashboard.userid" class="gw-td-position">{{$index + 1}}</td>
      <td ng-show="u.Id == dashboard.userid" class="info"><a href="/#/users/{{u.Id}}">{{u.Name}}</a></td>
      <td ng-show="u.Id != dashboard.userid"><a href="/#/users/{{u.Id}}">{{u.Name}}</a></td>
      <td ng-show="u.Id == dashboard.userid" class="info">{{u.Score}} Points</td>
      <td ng-show="u.Id != dashboard.userid">{{u.Score}} Points</td>
    </tr>
  </table>
</div>