<div class="user-dashboard panel panel-default" ng-controller="DashboardCtrl">
  <div class="panel-heading gw-panel-heading text-center">
     <img src="https://sigil.cupcake.io/{{dashboard.userid}}.png?inverted=1" height="80" width="80" class="img-circle gw-border">
    <h4><strong>{{dashboard.name}}<strong></h4>
  </div>
  <div class="panel-body gw-panel-body text-center">
      <!-- user -->
      <div ng-include src="'templates/dashboards/dashboard_user.html'"></div>
      <!-- team index -->
      <div ng-include src="'templates/dashboards/dashboard_team_index.html'"></div>
      <!-- team -->
      <div ng-include src="'templates/dashboards/dashboard_team.html'"></div>
      <!-- tournament index -->
      <div ng-include src="'templates/dashboards/dashboard_tournament_index.html'"></div>
      <!-- tournament -->
      <div ng-include src="'templates/dashboards/dashboard_tournament.html'"></div>
  </div>
</div>
