<div class="user-dashboard panel panel-default" ng-controller="DashboardCtrl">
  <div class="panel-heading text-center"><h4>{{dashboard.name}}</h4></div>
  <div class="panel-body text-center">
      <!-- user -->
      <div ng-include src="'templates/dashboards/dashboard_user.html'"></div>
      <!-- team index -->
      <div ng-include src="'templates/dashboards/dashboard_team_index.html'"></div>
      <!-- team -->
      <div ng-include src="'templates/dashboards/dashboard_team.html'"></div>
      <!-- tournament index -->
      <div ng-include src="'templates/dashboards/dashboard_tournament_index.html'"></div>
      <!-- tournament -->
      <div ng-include src="'templates/dashboards/dashboard_tournament.html'"></div>
  </div>
</div>
