<div ng-include src="'templates/partials/notifications.html'"></div>
<ol class="breadcrumb">
  <li><a href="/ng#/tournaments">Tournaments</a></li>
  <li><a href="/ng#/tournaments/{{tournamentData.Tournament.Id}}">{{tournamentData.Tournament.Name}}</a></li>
  <li class="active">Calendar</li>
</ol>
<div class="panel panel-default">
  <div class="panel-body">
    <h1>{{tournamentData.Tournament.Name}} First Stage</h1>
    <!-- Groups -->
    <div ng-include src="'templates/tournaments/groups.html'"></div>
    <!-- /Groups -->
  </div>
</div>
