<div ng-controller="TournamentRankingCtrl">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <div class="btn-group pull-right">
        <a class="btn btn-default" ng-class="{active: rankBy == 'users'}" href="" ng-click="byUsersRankOnClick()">Users rank</a>
        <a class="btn btn-default" ng-class="{active: rankBy == 'teams'}" href="" ng-click="byTeamsRankOnClick()">Teams rank</a>
      </div>
    </div>
  </div>
  <!-- Teams -->
  <div ng-if="rankingData.Teams">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="teams col-md-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Teams</th>
              <th><a href="" ng-click="predicate = 'Accuracy'; reverse=!reverse">Accuracy</a></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="t in rankingData.Teams | orderBy:predicate:reverse">
              <td><a href="/ng#/teams/{{t.Id}}">{{t.Name}}</a></td>
              <td>{{100*t.Accuracy | number:2}}%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <!-- / Teams -->
  <!-- participants -->
  <div ng-if="rankingData.Users">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="participants col-md-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Participants</th>
              <th><a href="" ng-click="predicate = 'Score'; reverse=!reverse">Score</a></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="u in rankingData.Users |  orderBy:predicate:reverse">
              <td><a href="/ng#/users/{{u.Id}}">{{u.Name}}</a></td>
              <td>{{u.Score}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <!-- / participants -->
</div>
