<div ng-controller="TournamentSecondStageCtrl">
  <!-- Calendar -->
  <div class="secondstage">
    <p>Second stage here</p>
    <div class="row text-center">
      <div class="col-md-1"><h5>Phases</h5></div>
      <div class="col-md-1">1</div>
      <div class="col-md-1">2</div>
      <div class="col-md-1">3</div>
      <div class="col-md-1">4</div>
      <div class="col-md-1">5</div>
      <div class="col-md-1">6</div>
      <div class="col-md-1">7</div>
      <div class="col-md-1">8</div>
      <div class="col-md-1">9</div>
      <div class="col-md-1">10</div>
      <div class="col-md-1">11</div>
    </div>  
    <div class="row text-center"><br><br></div>
    <!-- row 1 -->
    <div class="row text-center">
      <div class="col-md-1"><h5>Round of 16</h5></div>
      <div class="col-md-1">{{matchesData.Matches[0].Team1}}<br>{{matchesData.Matches[0].Result1}}<br>-<br>{{matchesData.Matches[0].Result2}}<br>{{matchesData.Matches[0].Team2}}<br><small>{{matchesData.Matches[0].Date | date:'dd MMM'}}</small></div>
      <div class="col-md-1">{{matchesData.Matches[1].Team1}}<br>{{matchesData.Matches[1].Result1}}<br>-<br>{{matchesData.Matches[1].Result2}}<br>{{matchesData.Matches[1].Team2}}<br><small>{{matchesData.Matches[1].Date | date:'dd MMM'}}</small></div>
      <div class="col-md-1"></div>
      <div class="col-md-1">{{matchesData.Matches[4].Team1}}<br>{{matchesData.Matches[4].Result1}}<br>-<br>{{matchesData.Matches[4].Result2}}<br>{{matchesData.Matches[4].Team2}}<br><small>{{matchesData.Matches[4].Date | date:'dd MMM'}}</small></div>
      <div class="col-md-1">{{matchesData.Matches[5].Team1}}<br>{{matchesData.Matches[5].Result1}}<br>-<br>{{matchesData.Matches[5].Result2}}<br>{{matchesData.Matches[5].Team2}}<br><small>{{matchesData.Matches[5].Date | date:'dd MMM'}}</small></div>
      <div class="col-md-1"></div>
      <div class="col-md-1">{{matchesData.Matches[2].Team1}}<br>{{matchesData.Matches[2].Result1}}<br>-<br>{{matchesData.Matches[2].Result2}}<br>{{matchesData.Matches[2].Team2}}<br><small>{{matchesData.Matches[2].Date | date:'dd MMM'}}</small></div>
      <div class="col-md-1">{{matchesData.Matches[3].Team1}}<br>{{matchesData.Matches[3].Result1}}<br>-<br>{{matchesData.Matches[3].Result2}}<br>{{matchesData.Matches[3].Team2}}<br><small>{{matchesData.Matches[3].Date | date:'dd MMM'}}</small></div>
      <div class="col-md-1"></div>
      <div class="col-md-1">{{matchesData.Matches[6].Team1}}<br>{{matchesData.Matches[6].Result1}}<br>-<br>{{matchesData.Matches[6].Result2}}<br>{{matchesData.Matches[6].Team2}}<br><small>{{matchesData.Matches[6].Date | date:'dd MMM'}}</small></div>
      <div class="col-md-1">{{matchesData.Matches[7].Team1}}<br>{{matchesData.Matches[7].Result1}}<br>-<br>{{matchesData.Matches[7].Result2}}<br>{{matchesData.Matches[7].Team2}}<br><small>{{matchesData.Matches[7].Date | date:'dd MMM'}}</small></div>
    </div>
    <div class="row text-center"><br><br></div>
    <!-- row 2 -->
    <div class="row text-center">
      <div class="col-md-1"><h5>Quarter finals</h5></div>
      <div class="col-md-2">{{matchesData.Matches[8].Team1}}<br>{{matchesData.Matches[8].Result1}}<br>-<br>{{matchesData.Matches[8].Result2}}<br>{{matchesData.Matches[8].Team2}}<br><small>{{matchesData.Matches[8].Date | date:'dd MMM'}}</small></div>
      <div class="col-md-1"></div>
      <div class="col-md-2">{{matchesData.Matches[9].Team1}}<br>{{matchesData.Matches[9].Result1}}<br>-<br>{{matchesData.Matches[9].Result2}}<br>{{matchesData.Matches[9].Team2}}<br><small>{{matchesData.Matches[9].Date | date:'dd MMM'}}</small></div>
      <div class="col-md-1"></div>
      <div class="col-md-2">{{matchesData.Matches[10].Team1}}<br>{{matchesData.Matches[10].Result1}}<br>-<br>{{matchesData.Matches[10].Result2}}<br>{{matchesData.Matches[10].Team2}}<br><small>{{matchesData.Matches[10].Date | date:'dd MMM'}}</small></div>
      <div class="col-md-1"></div>
      <div class="col-md-2">{{matchesData.Matches[11].Team1}}<br>{{matchesData.Matches[11].Result1}}<br>-<br>{{matchesData.Matches[11].Result2}}<br>{{matchesData.Matches[11].Team2}}<br><small>{{matchesData.Matches[11].Date | date:'dd MMM'}}</small></div>
    </div>
    <div class="row text-center"><br><br></div>
    <!-- row 3 -->
    <div class="row text-center">
      <div class="col-md-1"><h5>Semi finals</h5></div>
      <div class="col-md-1"></div>
      <div class="col-md-3">{{matchesData.Matches[12].Team1}}<br>{{matchesData.Matches[12].Result1}}<br>-<br>{{matchesData.Matches[12].Result2}}<br>{{matchesData.Matches[12].Team2}}<br><small>{{matchesData.Matches[12].Date | date:'dd MMM'}}</small></div>
      <div class="col-md-3"></div>
      <div class="col-md-3">{{matchesData.Matches[13].Team1}}<br>{{matchesData.Matches[13].Result1}}<br>-<br>{{matchesData.Matches[13].Result2}}<br>{{matchesData.Matches[13].Team2}}<br><small>{{matchesData.Matches[13].Date | date:'dd MMM'}}</small></div>
      <div class="col-md-1"></div>
    </div>
    <div class="row text-center"><br><br></div>
    <!-- row 4 -->
    <div class="row text-center">
      <div class="col-md-1"><h5>Finals</h5></div>
      <div class="col-md-4"></div>
      <div class="col-md-3">{{matchesData.Matches[15].Team1}}<br>{{matchesData.Matches[15].Result1}}<br>-<br>{{matchesData.Matches[15].Result2}}<br>{{matchesData.Matches[15].Team2}}<br><small>{{matchesData.Matches[15].Date | date:'dd MMM'}}</small></div>
      <div class="col-md-4"></div>
    </div>
    <div class="row text-center"><br><br></div>
    <!-- row 5 -->
    <div class="row text-center">
      <div class="col-md-1"><h5>Third place</h5></div>
      <div class="col-md-4"></div>
      <div class="col-md-3">{{matchesData.Matches[14].Team1}}<br>{{matchesData.Matches[14].Result1}}<br>-<br>{{matchesData.Matches[14].Result2}}<br>{{matchesData.Matches[14].Team2}}<br><small>{{matchesData.Matches[14].Date | date:'dd MMM'}}</small></div>
      <div class="col-md-4"></div>
    </div>
  </div>
  <!-- / Calendar -->
</div>
