<div class="user-dashboard panel panel-default" ng-controller="DashboardCtrl">
  <div class="panel-heading text-center"><h4>dashboard {{dashboard.location}}</h4></div>
  <div class="panel-body text-center">
      <!-- user -->
      <div class="dashboard-user" ng-show="dashboard.context == 'user'">
	<img src="https://sigil.cupcake.io/{{dashboard.userid}}.png" height="80" width="80" class="img-circle">
	<h5>{{dashboard.user}}</h5>
	<h5>Score: {{dashboard.score}}</h5>
	<h5>Tournaments: {{dashboard.ntournaments}}</h5>
	<h5>Teams: {{dashboard.nteams}}</h5>
      </div>
      <!-- team -->
      <div class="dashboard-team" ng-show="dashboard.context == 'team'">
	<img src="https://sigil.cupcake.io/{{dashboard.teamid}}.png" height="80" width="80" class="img-circle">
	<h5>{{dashboard.team}}</h5>
	<h5>Accuracy: {{100 * dashboard.accuracy | number:2}}%</h5>
	<h5>Tournaments: {{dashboard.ntournaments}}</h5>
	<h5>Members: {{dashboard.nmembers}}</h5>
	<table class="table table-condensed table-hover text-left">
	  <thead>
            <tr>
              <th>Members</th>
              <th>Score</th>
            </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="m in dashboard.members | orderBy:'Score':!reverse">
	      <td ng-show="m.Id == dashboard.userid" class="info"><a href="/ng#/users/{{m.Id}}">{{m.Name}}</a></td>
	      <td ng-show="m.Id != dashboard.userid"><a href="/ng#/users/{{m.Id}}">{{m.Name}}</a></td>
	      <td ng-show="m.Id == dashboard.userid" class="info">{{m.Score}}</td>
	      <td ng-show="m.Id != dashboard.userid">{{m.Score}}</td>
	    </tr>
	  </tbody>
	</table>
      </div>
      <!-- tournament -->
      <div class="dashboard-tournament" ng-show="dashboard.context == 'tournament'">
	<img src="https://sigil.cupcake.io/{{dashboard.tournamentid}}.png" height="80" width="80" class="img-circle">
	<h5>{{dashboard.tournament}}</h5>
	<h5>Teams: {{dashboard.nteams}}</h5>
	<h5>Participants: {{dashboard.nparticipants}}</h5>
	<!-- participants ranking -->
      	<table class="table table-condensed table-hover text-left">
	  <thead>
            <tr>
              <th>Participants</th>
              <th>Score</th>
            </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="u in dashboard.rank.users | orderBy:'Score':!reverse">
	      <td ng-show="u.Id == dashboard.userid" class="info"><a href="/ng#/users/{{u.Id}}">{{u.Name}}</a></td>
	      <td ng-show="u.Id != dashboard.userid"><a href="/ng#/users/{{u.Id}}">{{u.Name}}</a></td>
	      <td ng-show="u.Id == dashboard.userid" class="info">{{u.Score}}</td>
	      <td ng-show="u.Id != dashboard.userid">{{u.Score}}</td>
	    </tr>
	  </tbody>
	</table>
	<!-- teams ranking -->
	<table class="table table-condensed table-hover text-left">
	  <thead>
            <tr>
              <th>Teams</th>
              <th>Accuracy</th>
            </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="t in dashboard.rank.teams | orderBy:'Accuracy':!reverse">
	      <td><a href="/ng#/teams/{{t.Id}}">{{t.Name}}</a></td>
	      <td>{{100*t.Accuracy | number:2}}%</td>
	    </tr>
	  </tbody>
	</table>
	
      </div>
  </div>
</div>
