{{define "tmpl_settings_networks"}}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
		<ul class="nav nav-list">
		  <li><a href="/m/settings/edit-profile">Profile Settings</a></li>
		  <li class="active"><a href="/m/settings/networks">Connected Networks</a></li>
		  <li><a href="/m/settings/email">Email Notifications</a></li>
		</ul>
	</div>
    <div class="span9">
		<div class="page-header">
			<h1>Connected Networks</h1>
		</div>
		<p>Work in progress</p>
	</div>
  </div>
</div>
{{end}}
