{{define "tmpl_tournament_candidateTeams"}}
{{if len .}}
	<table class="table table-hover">
		<tbody>
		{{range $index, $team := .}}
		<form accept-charset="UTF-8" {{if TeamJoined $team.Id}}action="/m/tournamentteamrels/destroy"{{else}}action="/m/tournamentteamrels/create"{{end}} class="form-horizontal" method="post">
			<tr>
				<td><a href="/m/teams/{{$team.Id}}">{{$team.Name}}</a></td>
				<td><button class="btn btn-primary btn-join pull-right" name="TeamIdButton" type="submit" value="{{$team.Id}}" >{{if TeamJoined $team.Id}}Leave{{else}}Join{{end}}</button></td>
			</tr>
		</form>
		{{end}}
		</tbody>
	</table>
{{else}}
	<div id="no_team">
		<p>No team has been created by you.</p>
		<a href="/m/teams/new" class="btn btn-primary"><span>Create new team</span></a>
	</div>
{{end}}
{{end}}
