{{define "tmpl_tournament_index"}}
<div class="page-header">
  <h1>Tournaments</h1>
  
  <div class="btn-toolbar">
	<a class="btn btn-primary" href="/m/tournaments/new"><i class="icon-plus icon-white"></i> Create</a>
	<!-- search box -->
	<div class="control-group search-box">
		<div class="controls">
			<div class="input-prepend">
				<span class="add-on"><i class="icon-search"></i></span>
				<input class="span2" id="inputIcon" type="text">
			</div>
		</div>
	</div>
</div>
<p>
  <h3>Your tournaments:</h3>
  <table class="table table-striped">
    <thead>
      <tr>
	<th>Id</th>
	<th>Name</th>
      </tr>
    </thead>
    <tbody>
      {{range .}}
      <tr>
	<td>{{.Id}}</td>
	<td><a href="/m/tournaments/{{.Id}}">{{.Name}}</a></td>
      </tr>
      {{end}}
    </tbody>
  </table>
</p>
<p>
  <h3>Other Tournaments</h3>
  <table class="table table-striped">
    <thead>
      <tr>
	<th>Id</th>
	<th>Name</th>
      </tr>
    </thead>
    <tbody>
      {{range .}}
      <tr>
	<td>{{.Id}}</td>
	<td><a href="/m/tournaments/{{.Id}}">{{.Name}}</a></td>
      </tr>
      {{end}}
    </tbody>
  </table>

</p>
{{end}}
