<div ng-include src="'shared/notifications.html'"></div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <!-- search box -->
        <form ng-submit="search()">
          <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
              <input type="text" class="form-control" name="InputSearch" placeholder="Search tournaments, teams and users" id="inputIcon" ng-model="keywords">
          </div>
        </form>
        <!-- / search box -->
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <!-- tournaments  -->
      <h3>Tournaments</h3>
      <div class="row center-block">
        <div class="col-md-12">
          <span ng-repeat="gettingParentIndex in tournaments">
            <div class="row" ng-if="$index<tournaments.length/4+1">
              <span ng-repeat="tournament in tournaments">
                <div ng-if="$index>=4*$parent.$index && $index <= 4*($parent.$index+1)-1">
                  <div ng-include src="'shared/tournament_card.html'"></div>
                </div>
              </span>
            </div>
          </span>
          <small><h3 style="text-align: center">{{noTournamentsMessage}}</h3></small>
        </div>
      </div>
      <!-- teams -->
      <hr>
      <h3>Teams</h3>
      <div class="row center-block">
        <div class="col-md-12">
          <span ng-repeat="gettingParentIndex in teams">
            <div class="row" ng-if="$index<teams.length/4+1">
              <span ng-repeat="team in teams">
                <div ng-if="$index>=4*$parent.$index && $index <= 4*($parent.$index+1)-1">
                  <div ng-include src="'shared/team_card.html'"></div>
                </div>
              </span>
            </div>
          </span>
          <small><h3 style="text-align: center">{{noTeamsMessage}}</h3></small>
        </div>
      </div>
      <!-- users -->
      <hr>
      <h3>Users</h3>
      <div class="row center-block">
        <div class="col-md-12">
          <span ng-repeat="gettingParentIndex in users">
            <div class="row" ng-if="$index<users.length/4+1">
              <span ng-repeat="user in users">
                <div ng-if="$index>=4*$parent.$index && $index <= 4*($parent.$index+1)-1">
                  <div ng-include src="'shared/user_card.html'"></div>
                </div>
              </span>
            </div>
          </span>
          <small><h3 style="text-align: center">{{noUsersMessage}}</h3></small>
        </div>
      </div>
    </div>
  </div>
</div>
