<div ng-if="isTeamAdmin">
<!-- team's settings button -->
<div class="btn-group pull-right">
  <button type="button" class="btn btn-transparent dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog fa-lg"></i></button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="/#/teams/edit/{{teamData.Team.Id}}">Edit</a></li>
    <li><a href="/#/teams/invite/{{teamData.Team.Id}}">Invite</a></li>
    <li><a href="" data-toggle="modal" data-target="#team-modal">Manage admins</a></li>
    <li class="divider"></li>
    <li><a href="#" ng-click="deleteTeam()">Delete</a></li>
  </ul>
</div>
</div>

<a class="gw-chevron" href="/#/teams"><i class="fa fa-chevron-left fa-lg" style="vertical-align: 50%;">  </i></a>
<h1 class="gw-h1">
  <i class="fa fa-users fa-lg"></i>
  {{teamData.Team.Name}}
  <small class="gw-small">{{teamData.Team.Description}}</small>
</h1>
<i class="fa fa-lock fa-lg" ng-show="teamData.Team.Private"></i>
<!-- uncomment this to debug -->
<!-- <p>debug:<br>isTeamAdmin: {{isTeamAdmin}}<br>teamData.Joined: {{teamData.Joined}}<br>team.Private: {{teamData.Team.Private}}<br>team.RequestSent: {{teamData.RequestSent}}</p> -->

<div class="row">
  <div class="col-md-1"></div>
  <!-- actions -->
  <div class="col-md-10">
    <!-- start if !isTeamAdmin && !teamData.Joined -->
    <div ng-if="!isTeamAdmin && !teamData.Joined">
      <p>debug: team not admin</p>
      <div ng-if="teamData.Team.Private">
        <div ng-if="teamData.RequestSent">
          <input class="btn btn-default disabled pull-right" name="commit" type="submit" value="Request sent..." />
        </div>
        <div ng-if="!teamData.RequestSent">
          <input class="btn btn-primary pull-right" name="commit" ng-click="requestInvitation()" type="submit" value="Request invitation" />
        </div>
      </div>
      <div ng-if="!teamData.Team.Private">
        <joinbutton class="pull-right" action="joinButtonMethod()" name="joinButtonName" />
      </div>
    </div>
    <!-- end if !isTeamAdmin && !teamData.Joined -->
    <!-- start if !isTeamAdmin && teamData.Joined -->
    <div ng-if="!isTeamAdmin && teamData.Joined">
      <joinbutton class="pull-right" action="joinButtonMethod()" name="joinButtonName"/>
    </div>
    <!-- end if !isTeamAdmin && team && teamData.Joined -->
  </div>
  <!-- / actions -->
  <!-- modal -->
  <div id="team-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="teamModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="tournamentModalLabel">Manage Admins</h3>
        </div>
        <div class="modal-body">
          <div ng-include src="'templates/teams/adminCandidates.html'"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- / modal -->
</div>
