<div class="row">
    <div ng-if="rankingData.Users">
      <div class="players">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Players</th>
                  <th>Score</th>
                 </tr>
               </thead>
               <tbody>
                 <tr ng-repeat="u in rankingData.Users | orderBy:'Score':!reverse">
                   <td><a href="/#/users/{{u.Id}}">{{u.Name}}</a></td>
                   <td>{{u.Score}}</td>
                  </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div> <!-- / players -->
    </div> <!-- / if users -->
</div> <!-- / row -->
