<nav  class="navbar navbar-default" role="navigation" ng-controller="NavigationCtrl" bs-navbar>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-content">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar icon-bar"></span>
        <span class="icon-bar icon-bar"></span>
        <span class="icon-bar icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" ng-if="currentUser.User.IsAdmin">gonawin <small>alpha</small> - admin</a>
      <a class="navbar-brand" href="#" ng-if="!currentUser.User.IsAdmin">gonawin <small>alpha</small></a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-content">
      <ul class="nav navbar-nav navbar-right" ng-if="!isLoggedIn">
        <li data-match-route="/*.*"><a href="/#/signin"><i class="fa fa-sign-in fa-lg"></i> Sign in</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-if="isLoggedIn">
        <li data-match-route="/"><a href="/#"><i class="fa fa-home fa-lg"></i> Home</a></li>
        <li class="dropdown" ng-show="currentUser.User.IsAdmin">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">
            Manage
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu fa-ul" role="menu" aria-labelledby="dLabel">
            <li><a href="/#/users/"><i class="fa fa fa-user fa-fw"></i> Users</a></li>
          </ul>
        </li>
        <li data-match-route="/teams.*"><a href="/#/teams"><i class="fa fa-users fa-lg"></i> Teams</a></li>
        <li data-match-route="/tournaments.*"><a href="/#/tournaments"><i class="fa fa-trophy fa-lg"></i> Tournaments</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">
            <i class="fa fa-user fa-lg"></i>
            {{currentUser.displayName()}} <span class="badge gw-badge">{{currentUser.Invitations.length}}</span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="/#/users/{{currentUser.User.Id}}"><i class="fa fa-user fa-fw"></i> Profile <span class="badge gw-badge">{{currentUser.Invitations.length}}</span></a></li>
            <li><a href="/#/settings/edit-profile"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
            <li><a href="/#/invite"><i class="fa fa-bullhorn fa-fw"></i> Invite</a></li>
            <li><a href="" ng-click="disconnect()"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
