<div>
  <div class="page-header">
    <h4>User Scores</h4>
  </div>
  <!-- User: -->
  <dl class="dl-horizontal">
    <dt><strong>Id:</strong></dt>
    <dd>{{userData.User.Id}}</dd>
    <dt><strong>Username:</strong></dt>
    <dd>{{userData.User.Username}}</dd>
    <dt><strong>Name:</strong></dt>
    <dd>{{userData.User.Name}}</dd>
    <dt><strong>Email:</strong></dt>
    <dd>{{userData.User.Email}}</dd>
    <dt><strong>Created at:</strong></dt>
    <dd>{{userData.User.Created}}</dd>
  </dl>

  <div class="scores">
  <table class="table table-striped">
    <thead><tr><th>TournamentId</th><th>Scores</th></tr></thead>
    <tbody>
      <tr ng-repeat="score in scoreData.Scores">
	<td>{{score.TournamentId}}</td>
	<td>{{score.Scores}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

</div>
