<div>
  <div class="page-header">
    <h4>User Scores</h4>
  </div>
  <!-- User: -->
  <dl class="dl-horizontal">
    <dt><strong>Id:</strong></dt>
    <dd>{{userData.User.Id}}</dd>
    <dt><strong>Username:</strong></dt>
    <dd>{{userData.User.Username}}</dd>
    <dt><strong>Name:</strong></dt>
    <dd>{{userData.User.Name}}</dd>
    <dt><strong>Email:</strong></dt>
    <dd>{{userData.User.Email}}</dd>
    <dt><strong>Created at:</strong></dt>
    <dd>{{userData.User.Created}}</dd>
  </dl>
  <div class="row" ng-repeat="s in scoreData.Scores">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      <h4>Tournament id: {{s.TournamentId}}</h4>
      <p>score: <b>{{s.Score}}</b>, last progression: <b>+{{s.LastProgression}}</b>.</p>
    </div>
  </div>
  

</div>
