<div>
  <div class="page-header">
    <h4>User</h4>
  </div>
  <!-- User: -->
  <dl class="dl-horizontal">
    <dt><strong>Id:</strong></dt>
    <dd>{{user.Id}}</dd>
    <dt><strong>Username:</strong></dt>
    <dd>{{user.Username}}</dd>
    <dt><strong>Name:</strong></dt>
    <dd>{{user.Name}}</dd>
    <dt><strong>Email:</strong></dt>
    <dd>{{user.Email}}</dd>
    <dt><strong>Created at:</strong></dt>
    <dd>{{user.Created}}</dd>
  </dl>
  <!-- Todo teams: should be done in another HTML file -->
  <div ng-include src="'templates/users/teams.html'"></div>
<!-- 	<\!-- /Team -\-> -->
		
<!-- 	<\!-- /User -\-> -->
<!-- 	<\!-- Todo teams: should be done in another HTML file -\-> -->
<!-- 	<\!-- div class="teams"> -->
<!-- 	  <table class="table table-striped"> -->
<!-- 	    <thead> -->
<!-- 	      <tr> -->
<!-- 		<th>Teams</th> -->
<!-- 	      </tr> -->
<!-- 	    </thead> -->
<!-- 	    <tbody> -->
<!-- 	      <tr ng-repeat="team in userData.Teams"> -->
<!-- 		<td><a href="/m/teams/{{team.Id}}">{{team.Name}}</a></td> -->
<!-- 	      </tr> -->
<!-- 	    </tbody> -->
<!-- 	  </table> -->
<!-- 	</div -\-> -->
<!-- 	<\!-- /Team -\-> -->
<!-- 	<\!-- Todo tournaments: should be done in another HTML file -\-> -->
<!-- 	<\!-- div class="tournaments"> -->
<!-- 	  <table class="table table-striped"> -->
<!-- 	    <thead> -->
<!-- 	      <tr> -->
<!-- 		<th>Tournaments</th> -->
<!-- 	      </tr> -->
<!-- 	    </thead> -->
<!-- 	    <tbody> -->
<!-- 	      <tr ng-repeat="tournament in userData.Tournaments"> -->
<!-- 		<td><a href="/m/tournaments/{{tournament.Id}}">{{tournament.Name}}</a></td> -->
<!-- 	      </tr> -->
<!-- 	    </tbody> -->
<!-- 	  </table> -->
<!-- 	</div -\-> -->
<!-- 	<\!-- /Tournaments -\-> -->
<!-- 	<\!-- Todo requests: should be done in another HTML file -\-> -->
<!-- 	<\!-- div class="requests"> -->
<!-- 	  <table class="table table-striped"> -->
<!-- 	    <thead> -->
<!-- 	      <tr> -->
<!-- 		<th>Requests</th> -->
<!-- 	      </tr> -->
<!-- 	    </thead> -->
<!-- 	    <tbody> -->
<!-- 	      <tr ng-repeat="request in userData.Requests"> -->
<!-- 		<form accept-charset="UTF-8" action="/m/teams/{{request.TeamId}}/request" class="form-horizontal" method="post"> -->
<!-- 		  <td><a href="/m/users/{{request..UserId}}">User {{request..UserId}}</a> wants to join <a href="/m/teams/{{request..TeamId}}">Team {{request..TeamId}}</a></td> -->
<!-- 		  <input id="request_id" name="RequestId" type="hidden" value="{{request..Id}}" /> -->
<!-- 		  <td><button class="btn btn-success" name="SubmitButton" type="submit" value="Accept"><i class="icon-ok icon-white"></td> -->
<!-- 		  <td><button class="btn btn-danger" name="SubmitButton" type="submit" value="Deny"><i class="icon-remove icon-white"></td> -->
<!-- 		</form> -->
<!-- 	      </tr> -->
<!-- 	    </tbody> -->
<!-- 	  </table> -->
<!-- 	</div -\-> -->
<!-- 	<\!-- /Requests -\-> -->
<!-- </div> -->
