<div>
  <div class="page-header">
    <h4>User</h4>
  </div>
  <!-- User: -->
  <dl class="dl-horizontal">
    <dt><strong>Id:</strong></dt>
    <dd>{{user.Id}}</dd>
    <dt><strong>Username:</strong></dt>
    <dd>{{user.Username}}</dd>
    <dt><strong>Name:</strong></dt>
    <dd>{{user.Name}}</dd>
    <dt><strong>Email:</strong></dt>
    <dd>{{user.Email}}</dd>
    <dt><strong>Created at:</strong></dt>
    <dd>{{user.Created}}</dd>
  </dl>
  <div ng-include src="'templates/users/teams.html'"></div>
  <div ng-include src="'templates/users/tournaments.html'"></div>
  <div ng-include src="'templates/users/teamRequests.html'"></div>
</div>
