<div ng-include src="'templates/partials/notifications.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
	<h1>Email Invitation</h1>
      </div>
      
      <h3>Invite people you know to join purple-wing</h3>
      <p>We'll be sending them a message that looks like this. Enter their email address below (separated by commas, please).</p>
      <br />
      
      <div ng-dirty>
	<form name="inviteForm" role="form">
	  <div class="form-group">
	    <div id="email">
	      <p>
		From: {{currentUser.User.Name}}<br />
		Subject: <strong>{{currentUser.User.Name}} wants you to join Purple-wing!</strong>
	      </p>
	      <p class="email-body">
		Hi there -<br />
		Join us on Purple-wing.<br /><br />
		You will be able to bet on tournament and win some rewards!<br /><br />
		Sign in here: http://localhost:8080/ng#/<br /><br />
		Have fun,<br />
		Your friends @ purple-wing
	      </p>
	    </div>
	  </div>
	  <div class="form-group">
	    <div id="invite">
	      <div class="form-group" ng-class="{error: inviteForm.emails.$invalid}">
		<textarea rows="4" name="emails" cols="50" ng-model="invite.emails" emails></textarea>
		<span ng-show="inviteForm.emails.$error.emails" class="help-inline"> List is not well formatted</span>
	      </div>
	    </div>
	  </div>
	  <button class="btn btn-default" ng-click="inviteFriends()" ng-disabled="inviteForm.$invalid">Invite friends</button>
	</form>
      </div>
    </div>
  </div>
</div>
