<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="page-header">
				<h1>Email Invitation</h1>
      </div>
      
      <h3>Invite people you know to join purple-wing</h3>
      <p>We'll be sending them a message that looks like this. Enter their email address below (separated by commas, please).</p>
      <br />

	    <form name="inviteForm">
				<div id="email">
					<p>
					  From: {{invite.name}}<br />
					  Subject: <strong>{{invite.name}} wants you to join Purple-wing!</strong>
					</p>
					<p class="email-body">
					  Hi there -<br />
					  Join us on Purple-wing.<br /><br />
					  You will be able to bet on tournament and win some rewards!<br /><br />
					  Sign in here: http://localhost:8080/ng#/<br /><br />
					  Have fun,<br />
					  Your friends @ purple-wing
					</p>
				</div>
			
				<div id="invite">
					<textarea rows="4" name="emails_area" cols="50" ng-model="invite.emailsList"></textarea>
					<button class="btn" ng-click="inviteFriends()">Invite friends</button>
				</div>
	    </form>
    </div>
  </div>
</div>
