<div class="content" ng-hide="0">
  <div class="hero-unit">
    <h1>Welcome {{currentUser.Username}}!</h1><br>
    <p><b>purple-wing</b> is a social web application for betting on tournaments with your friends.</p>
    <div ng-hide="loggedIn">
      <google-plus-signin clientid="36368233290"></google-plus-signin>
    </div>
  </div>
  <h1>ng Home page</h1>
  <p>Home handler</p>
  <hr>
  <br>
  <b>Contributors:</b>
  <ul>
    <li>Santiago (sar)</li>
    <li>Carlos (cab)</li>
    <li>Remy (rej)</li>
  </ul>
</div>
