<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <ul class="nav nav-list">
				<li><a href="/ng#/settings/edit-profile">Profile Settings</a></li>
				<li class="active"><a href="/ng#/settings/networks">Connected Networks</a></li>
				<li><a href="/ng#/settings/email">Email Notifications</a></li>
      </ul>
    </div>
    <div class="span9">
      <div class="page-header">
				<h1>Connected Networks</h1>
      </div>
      <p>Work in progress</p>
    </div>
  </div>
</div>
