<div class="page-header">
	<h1>Team</h1>
	<!-- {{if not IsTeamAdmin}} -->
		<!-- {{if not Joined}} -->
			<!-- {{if teamData.Team.Private}} -->
				<form accept-charset="UTF-8" action="/m/teams/{{teamData.Team.Id}}/invite" class="form-horizontal" method="post">
				<!-- {{if RequestSent}} -->
					<input class="btn disabled" name="commit" type="submit" value="Request sent..." />
				<!-- {{else}} -->
						<input class="btn btn-primary" name="commit" type="submit" value="Request invitation" />
				<!-- {{end}} -->
				</form>
			<!-- {{else}} -->
				<form accept-charset="UTF-8" action="/m/teamrels/{{teamData.Team.Id}}" class="form-horizontal" method="post">
					<input id="team_id" name="TeamId" type="hidden" value="{{teamData.Team.Id}}" />
					<input id="action" name="Action" type="hidden" value="post_action" />
					<input class="btn btn-primary" name="commit" type="submit" value="Join" />
				</form>
			<!-- {{end}} -->
		<!-- {{else}} -->
			<form accept-charset="UTF-8" action="/m/teamrels/{{teamData.Team.Id}}" class="form-horizontal" method="post">
				<input id="team_id" name="TeamId" type="hidden" value="{{teamData.Team.Id}}" />
				<input id="action" name="Action" type="hidden" value="delete_action" />
				<input class="btn btn-primary" name="commit" type="submit" value="Leave" />
			</form>
		<!-- {{end}} -->
	<!-- {{end}} -->
</div>

<dl class="dl-horizontal">
	<dt><strong>Id:</strong></dt>
	<dd>{{teamData.Team.Id}}</dd>
	<dt><strong>Name:</strong></dt>
	<dd>{{teamData.Team.Name}}</dd>
	<dt><strong>AdminId:</strong></dt>
	<dd>{{teamData.Team.AdminId}}</dd>
	<dt><strong>Private:</strong></dt>
	<dd>{{teamData.Team.Private}}</dd>
</dl>

<!-- {{if IsTeamAdmin}} -->
	<div class="form-actions">
		<form accept-charset="UTF-8" action="/m/teams/{{teamData.Team.Id}}" class="form-horizontal" method="post">
			<a href="/ng#/teams/{{teamData.Team.Id}}/edit" class="btn"><span>Edit</span></a>
			<input id="action" name="Action" type="hidden" value="delete" />
			<button class="btn btn-danger" name="delete" onclick="return confirm('Are you sure?');">Delete</button>
		</form>
	</div>
<!-- {{end}} -->

<!-- template "tmpl_team_players" .Players -->
