<div class="page-header">
	<h1>Edit Team</h1>
</div>
<form accept-charset="UTF-8" action="/m/teams/{{teamData.Id}}/edit" class="form-horizontal" method="post">
	<div class="control-group">
		<label class="control-label" for="team_id">Id</label>
		<div class="controls">
			<input class="text_field" id="team_id" name="Id" size="30" type="text" value="{{teamData.Team.Id}}" readonly="readonly"/>
		</div>
	</div>
  	<div class="control-group">
		<label class="control-label" for="team_name">Name</label>
		<div class="controls">
	  		<input class="text_field" id="team_name" name="Name" size="30" type="text" value="{{teamData.Team.Name}}"/>
		</div>
  	</div>
  	<div class="control-group">
		<label class="control-label" for="team_adminid">Admin Id</label>
		<div class="controls">
			<input class="text_field" id="team_adminid" name="AdminId" size="30" type="text" value="{{teamData.Team.AdminId}}" readonly="readonly"/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="team_adminid">Private</label>
		<div class="controls">
		  <!-- Todo if else -->
		  <input class="radio" id="team_visibility" name="Visibility" type="radio" value="Public" checked/> Public (Anyone can subscribe to this team)<br>
		  <input class="radio" id="team_visibility" name="Visibility" type="radio" value="Private" /> Private (users need to request an invitation)
		</div>
	</div>
  	<div class="form-actions">
		<input class="btn btn-primary" name="commit" type="submit" value="Update Team" />
		<a href="/m/teams/{{teamData.Team.Id}}" class="btn">Cancel</a>
  	</div>
</form>
