<div class="page-header">
	<h1>Edit Tournament</h1>
</div>
<form accept-charset="UTF-8" action="/ng#/tournaments/{{tournamentData.Id}}/edit" class="form-horizontal" method="post">
	<div class="control-group">
		<label class="control-label" for="tournament_id">Id</label>
		<div class="controls">
			<input class="text_field" id="tournament_id" name="Id" size="30" type="text" value="{{tournamentData.Id}}" readonly="readonly"/>
		</div>
	</div>
  	<div class="control-group">
		<label class="control-label" for="tournament_name">Name</label>
		<div class="controls">
	  		<input class="text_field" id="tournament_name" name="Name" size="30" type="text" value="{{tournamentData.Name}}"/>
		</div>
  	</div>
  	<div class="form-actions">
		<input class="btn btn-primary" name="commit" type="submit" value="Update Tournament" />
		<a href="/m//tournaments/{{tournamentData.Id}}" class="btn">Cancel</a>
  	</div>
</form>
