<div class="page-header">
	<h1>New Tournament</h1>
</div>
<div ng-show="{{tournamentsNewData.Error}}">
	<div class="alert alert-error">
		{{tournamentsNewData.Error}}.
	</div>

<form accept-charset="UTF-8" action="/m/tournaments/new" class="form-horizontal" method="post">
  	<div class="control-group">
		<label class="control-label" for="tournament_name">Name</label>
		<div class="controls">
	  		<input class="text_field" id="tournament_name" name="Name" size="30" type="text" value="{{tournamentsNewData.Name}}"/>
		</div>
  	</div>
  	<div class="form-actions">
		<input class="btn btn-primary" name="commit" type="submit" value="Create Tournament" />
		<a href="/m/tournaments" class="btn">Cancel</a>
  	</div>
</form>
