<!-- candidates -->
<div ng-if="adminCandidates.length > 0">
  <table class="table table-hover">
    <tbody>
      <tr ng-repeat="c in adminCandidates">
        <form accept-charset="UTF-8" class="form-horizontal">
          <div class="form-group">
            <td><a href="/ng#/users/{{c.Id}}">{{c.Username}}</a></td>
            <td>
              <addbutton action="addAdminButtonMethod[c.Id](c.Id)" name="addAdminButtonName[c.Id]" />
            </td>
          </div>
        </form>
      </tr>
    </tbody>
  </table>
</div>
<!-- end of candidates -->
