<h1>About gonawin:</h1>
<small>A social web application to make "friendly bets" on sport games with your friends.</small></h1>
<hr>
<p>We believe that today's betting platforms are full of ads that polute the game itself. We want to create a platform that people can use to bet/play with their friends and family or anyone they want, without ads in between. There is no money involved.</p>
Contributors : Santiago, Remy, Cabernal
<h3>Full stack:</h3>
<p>Here is the development stack:
<ul>
  <li><a href="https://developers.google.com/appengine/docs/go/">Google App Engine for Go</a></li>
  <li><a href="http://getbootstrap.com/">Boostrap v3</a></li>
  <li><a href="http://angularjs.org/">Angularjs</a></li>
  <li><a href="github.com/garyburd/go-oauth/oauth">go-oauth</a></li>
  <li><a href="https://github.com/lipis/flag-icon-css">Flags</a></li>
  <li><a href="https://github.com/cupcake/sigil">Avatars</a></li>
  <li><a href="http://lipis.github.io/bootstrap-social/">Social Buttons for Bootstrap</a></li>
  <li>Icons
    <ul>
      <li><a href="http://fortawesome.github.io/Font-Awesome/icons/">font-awesome</a></li>
      <li><a href="http://glyphicons.com/">glyphicons</a></li>
    </ul>
  </li>
</ul>
For a full view of this web app check out the code source: <a href="https://github.com/santiaago/gonawin">here</a>
</p>
