<ol class="breadcrumb">
  <li class="active">About</li>
</ol>
<div class="panel panel-default">
  <div class="panel-body">
    <h1>About gonawin</h1>
    <h2><small>A social web application to make "friendly bets" on sports events.</small></h2>
    <p>We believe that today's betting platforms are full of ads that polute the game itself. We want to create a platform that people can use to bet/play with their friends and family or anyone they want, without any ads and without asking for any money.</p>
    <h3>The code:</h3>
    <p>You can find the code of this web app in github.com <a href="http://www.github.com/santiaago/gonawin">here</a> as well as the description of how we built it and the stack of technologies that we used.</p>
    <h3>The why behind the Y:</h3>
    <p>We, <a hhref="https://twitter.com/santiago_arias">Santiago</a> and <a href="https://twitter.com/rjourde">Remy</a>, built this project from scratch without really knowing how it would turn out but with the will to learn something new. And we did.</p>
    <p>Therefore, we hope you enjoy playing as much as we enjoyed making it.</p>
  </div> <!-- / panel body -->
</div> <!-- / panel -->
