<ol class="breadcrumb">
  <li class="active">About</li>
</ol>
<div class="panel panel-default">
  <div class="panel-body">
    <h1>About gonawin:</h1>
    <h2><small>A social web application to make "friendly bets" on sport games with your friends.</small></h2>
      <p>We believe that today's betting platforms are full of ads that polute the game itself. We want to create a platform that people can use to bet/play with their friends and family or anyone they want, without ads in between. There is no money involved.</p>
      Contributors : Santiago, Remy.
  </div> <!-- / panel body -->
</div> <!-- / panel -->
