<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="panel panel-default">
          <div class="content">
            <h1>Getting started</h1>
	    <p class="text-left">
	      Using gonawin you will be able to play with your friends on sport events.
	    </p>
	    <hr>
	    <h2>Sign in</h2>
	    <p class="text-left">
	      Join us by clicking on the <b>sign in</b> button in the home page and choose to log in with either your Google+, Google, Twitter or Facebook account.
	    </p>
	      <img src="static/img/gs2/welcome.jpg" class="img-thumbnail">
	      <img src="static/img/gs2/sign-in.jpg" class="img-thumbnail">
	    <hr>
	    <h2>Start</h2>
	    <p class="text-left">
	      Once you sign up you can either join an existing team, or create your own (teams can be private or public). 
	      <img src="static/img/gs2/teams.jpg" class="img-thumbnail">
	      <img src="static/img/gs2/new-team.jpg" class="img-thumbnail">
	      <img src="static/img/gs2/new-team2.jpg" class="img-thumbnail">
	      Your team administrator will be able to sign your team up to an existing tournament and all the team members will be able to start playing said tournament right away.<br>
	      <img src="static/img/gs2/join-tournament1.jpg" class="img-thumbnail">
	      <img src="static/img/gs2/join-tournament2.jpg" class="img-thumbnail">
	      You can be part of as many teams as you wish.<br>
	      >image add team<br>
	      <img src="static/img/gs2/add-team-to-tournament.jpg" class="img-thumbnail">
	    </p>
	    <hr>
	    <h2>Profile</h2>
	    <p class="text-left">
	      In your profile page you will find the following:
	      <ul>
		<li>The teams you have joined</li>
		<li>The tournaments you are participating in</li>
		<li>Your pending team requests</li>
		<li>Your pending team invites</li>
	      </ul><br>
	      <img src="static/img/gs2/profile.jpg" class="img-thumbnail">
	      In the <b>settings</b> section, you will find your profile information.<br>
	      <img src="static/img/gs2/settings.jpg" class="img-thumbnail">
	      In the <b>invite</b> section you can send invitations to your friends to join you on <b>gonawin</b>.
	      <img src="static/img/gs2/invite.jpg" class="img-thumbnail">
	    </p>
	    <hr>
	    <h2>How to play</h2>
	    <p class="text-left">
	      On every match there is a <b>gonawin</b> button. By clicking on it you will see a form that you can fill in with your guess. Then just hit <b>save</b> and your prediction will be recorded.<br>
    	      <img src="static/img/gs2/match-join.jpg" class="img-thumbnail">
    	      <img src="static/img/gs2/match-predict.jpg" class="img-thumbnail">
    	      <img src="static/img/gs2/match-predict-saved.jpg" class="img-thumbnail">
	    </p>
	    <hr>
	    <h2>Tournaments</h2>
	    <p class="text-left">
	      Right now the only tournament supported is the <b>Fifa World Cup 2014</b>.<br>
	      In the tournament page you will find the different matches, the groups and the ranking of teams and users in this tournament.
	    </p>
	    <p class="text-left">
	      If you guessed correctly the score of a match you will get <b>3</b> points. If you guess correctly not the score but the winner you get <b>1</b> point.
	    </p>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
