<ol class="breadcrumb">
  <li class="active">Getting started</li>
</ol>
<div class="panel panel-default">
  <div class="panel-body">
    <h1>Getting started</h1>
    <p class="text-left">
      Using gonawin you will be able to play with your friends on sport events.
    </p>
    <hr>
    <h2>Sign in</h2>
    <div class="row">
      <div class="col-md-1">
	</div>
      <div class="col-md-11">
	<p class="text-justify">
	  <br><br>Join us by clicking on the <b>sign in</b> button in the home page and choose to log in with either your <i class="fa fa-2x fa-google-plus"></i> Google+, <i class="fa fa-2x fa-google"></i> Google, <i class="fa fa-2x fa-twitter"></i> Twitter or <i class="fa fa-2x fa-facebook"></i> Facebook account.
	</p>
      </div>
    </div>
    <hr>
    <h2>Start</h2>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
	<p class="text-justify">
	  Once you sign up you will have access to the following:<br>
	  <ul>
	    <li>You will be able to either join an existing team, or create your own (teams can be private or public) by clicking in the <b>Teams</b> menu.</li>
	    <li>You can also set the tournaments available for you to play on the <b>Tournaments</b> menu.</li>
	    <li>In the <b>user</b> drop down menu you will find all the information relative to the user.</li>
	  </ul>
	</p>
      </div>
      <div class="col-md-7 text-center">
	<img src="static/img/gs1/nav.jpg" class="img-thumbnail">
      </div>
    </div>
    <hr>
    <h2>Teams</h2>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-11">
	<p class="text-justify">
	  Your team administrator will be able to sign your team up to an existing tournament and all the team members will be able to start playing said tournament right away.<br>
	  You can be part of as many teams as you wish.
	</p>
      </div>
    </div>
    <hr>
    <h2>User information</h2>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
	<h3>Profile</h3>
	<p class="text-justify">
	  In your profile page you will find the following:
	  <ul>
	    <li>The teams you have joined</li>
	    <li>The tournaments you are participating in</li>
	    <li>Your pending team requests</li>
	    <li>Your pending team invites</li>
	  </ul><br>
	</p>
      </div>
      <div class="col-md-8 text-center">
	<img src="static/img/gs2/profile.jpg" class="img-thumbnail">
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
	<h3>Settings</h3>
	<p class="text-justify">
	  In the <b>settings</b> section, you will find your profile information.<br>
      </div>
      <div class="col-md-8 text-center">
	<img src="static/img/gs2/settings.jpg" class="img-thumbnail">
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
	<h3>Invite</h3>    
	<p class="text-justify">
	  In the <b>invite</b> section you can send invitations to your friends to join you on <b>gonawin</b>.
      </div>
      <div class="col-md-8 text-center">
	<img src="static/img/gs2/invite.jpg" class="img-thumbnail">
      </div>
    </div>
    <hr>
    <h2>How to play</h2>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
	<p class="text-justify">
	  On every match there is a <b>gonawin</b> button. By clicking on it you will see a form that you can fill in with your guess. Then just hit <b>save</b> and your prediction will be recorded.<br>
      </div>
      <div class="col-md-7 text-center">
	<img src="static/img/gs2/match-join.jpg" class="img-thumbnail">
	<img src="static/img/gs2/match-predict.jpg" class="img-thumbnail">
	<img src="static/img/gs2/match-predict-saved.jpg" class="img-thumbnail">
      </div>
    </div>
    <hr>
    <h2>Tournaments</h2>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-11">
	<p class="text-justify">
	  Right now the only tournament supported is the <b>Fifa World Cup 2014</b>.<br>
	  In the tournament page you will find the different matches, the groups and the ranking of teams and users in this tournament.
	</p>
	<p class="text-justify">
	  If you guessed correctly the score of a match you will get <b>3</b> points. If you guess correctly not the score but the winner you get <b>1</b> point.
	</p>
      </div>
    </div>
  </div> <!-- / panel body -->
</div> <!-- / panel -->

