<div ng-include src="'templates/partials/notifications.html'"></div>
<div class="page-content">
  <div class="panel panel-default">
    <table class="table table-bordered table-condensed">
      <tr class="text-center">
        <td ng-if="tournamentData.Tournament != undefined">
          <h3 ng-if="tournamentData.RemainingDays <= 0">CURRENT TOURNAMENT</h3>
          <h3 ng-if="tournamentData.RemainingDays > 0" >NEW TOURNAMENT</h3>
          <h3 class="gw-no-margin"><strong><a href="/#/tournaments/{{tournamentData.Tournament.Id"}}>{{tournamentData.Tournament.Name}}</a></strong></h3>
          <h3 class="gw-no-margin"><small>{{tournamentData.Start}} - {{tournamentData.End}}</small></h3>
          <a class=" btn btn-success" href="/#/tournaments/{{tournamentData.Tournament.Id}}">Play now!</a>
        </td>
        <td class="gw-vert-align">
	  If you are new around here just click on the button below.
          <a class="btn btn-success btn-lg" href="/#/getting-started">Get Started</a>
        </td>
      <tr>
    </table>
  </div>
  <div gw-activities></div>
</div>
