<div class="main-container container-fluid">
  <div class="row centered">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Signin</h3>
        </div>
        <div class="panel-body">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="row"><google-plus-signin><button class="btn btn-block btn-social btn-google-plus btn-lg"><i class="fa fa-google-plus"></i> Signin with Google+</button></google-plus-signin></div>
            <br>
            <div class="row"><google-signin></google-signin></div>
            <br>
            <div class="row"><twitter-signin></twitter-signin></div>
            <br>
            <div class="row"><facebook-signin></facebook-signin></div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<div class="footer_welcome">
  <div class="container-fluid">
    <p class="footer_content">
      gonawin &copy; 2014
      <br>
      Made by Santiago Arias & Remy Jourde | <a href="/ng#/about">About</a>
    </p>
  </div>
</div>
