<div class="header">
  <div class="container-fluid">
    <div class="row centered">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="panel panel-default">
          <div class="content">
            <h1>Welcome to <b>gonawin</b></h1>
            <br>
            <h3><b>gonawin</b> is a social web application for betting on tournaments with your friends.<h3>
            <div class="row centered">
              <div class="col-md-2"></div>
              <div class="col-md-8"><a class="btn btn-warning btn-lg" href="ng#/signin">Signin</a></div>
              <div class="col-md-2"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
<!-- INTRO WRAP -->
<div class="intro">
  <div class="container-fluid">
    <div class="row centered">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="row centered">
            <div class="col-md-4">
              <img src="static/img/placeholder_140.png" class="img-thumbnail">
              <h3>Join</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="col-md-4">
              <img src="static/img/placeholder_140.png" class="img-thumbnail">
              <h3>Play</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="col-md-4">
              <img src="static/img/placeholder_140.png" class="img-thumbnail">
              <h3>Share</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div><!--/ #introwrap -->
<div class="footer footer_welcome">
  <div class="container-fluid">
    <p class="footer_content">
      gonawin &copy; 2014
      <br>
      Made by Santiago Arias & Remy Jourde | <a href="/#/about">About</a>
    </p>
  </div>
</div>
