<div class="panel-body">
  <div class="row">
    <!-- <div class="col-md-2"></div> -->
    <div class="col-md-1"><h4>#{{m.IdNumber}}</h4></div>
    <div class="col-md-1"><p class="text-right"><span class="flag-icon flag-icon-{{m.Iso1}}"></span> {{m.Team1}}</p></div>
    <div class="col-md-2"><p class="text-center">{{m.Result1}}</p></div>
    <div class="col-md-1"><p class="text-center"> - </p></div>
    <div class="col-md-1"><p class="text-center">{{m.Result2}}</p></div>
    <div class="col-md-2"><p class="text-left"><span class="flag-icon flag-icon-{{m.Iso2}}"></span> {{m.Team2}}</p></div>
  </div>
  <form class="form" role="form" ng-submit="updateResult()">
    <div ng-show="m.wantToPredict">
      <div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-2">
          <input type="text" class="form-control input-sm" id="{{m.IdNumber}}" ng-model="result1" placeholder="">
	</div>
	<div class="col-md-1"><p class="text-center"> - </p></div>
	<div class="col-md-2">
          <p><input type="text" class="form-control input-sm" id="{{m.IdNumber}}" ng-model="result2" placeholder=""></p>
	</div>
	<div class="col-md-1">
          <button type="submit" class="btn btn-danger btn-xs" ng-click="cancel(m.IdNumber, $index, $parent.$parent.$index, result1, result2)"><span class="glyphicon glyphicon-remove-circle"> cancel</span></button>
	</div>
      </div>
    </div> <!-- / want to predict -->
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
	<button class="btn btn-primary btn-xs btn-block" disabled="disabled" ng-show="!tournamentData.Joined"><span class="glyphicon glyphicon glyphicon-edit"> gonawin</span></button>
	<button class="btn btn-primary btn-xs btn-block" disabled="disabled" ng-show="tournamentData.Joined && !m.Ready"><span class="glyphicon glyphicon glyphicon-time"> gonawin</span></button>
	<button class="btn btn-primary btn-xs btn-block" ng-show="tournamentData.Joined && m.Ready && !m.HasPredict && !m.Finished && !m.wantToPredict" ng-click="activatePredict(m.IdNumber, $index, $parent.$parent.$index)"><span class="glyphicon glyphicon glyphicon-edit"> gonawin</span></button>
	<button class="btn btn-primary btn-xs btn-block" ng-show="tournamentData.Joined && m.Ready && !m.HasPredict && !m.Finished && m.wantToPredict" ng-click="predict(m.IdNumber, $index, $parent.$parent.$index, result1, result2)"><span class="glyphicon glyphicon glyphicon-edit"> save</span></button>
	<button class="btn btn-success btn-xs btn-block" ng-show="tournamentData.Joined && m.Ready && m.HasPredict && !m.Finished" ng-click="activatePredict(m.IdNumber, $index, $parent.$parent.$index)"><span class="glyphicon glyphicon glyphicon-check"> {{m.Predict}}</span></button>
	<button class="btn btn-default btn-xs btn-block active" disabled="disabled" ng-show="m.Finished"><span class="glyphicon glyphicon glyphicon-check"> {{m.Predict}}</span></button>
      </div>
    </div> <!-- / row -->
  </form>
</div>
