{{define "tmpl_nav"}}
<!-- navigation bar -->
<div class="navigation">
  <ul class="nav nav-pills pull-right">
    <li {{if Home}} class="active" {{end}}><a href="/m">Home</a></li>
    {{if LoggedIn}}
    {{if Admin}}
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="">
	Manage
	<b class="caret"></b>	
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	<li><a href="">Users</a></li>
	<li><a href="">Teams</a></li>
	<li><a href="">Tournaments</a></li>
      </ul>
    </li>
    {{end}}
    <li {{if Teams}} class="active" {{end}}><a href="/m/teams">Teams</a></li>
    <li {{if Tournaments}} class="active" {{end}}><a href="/m/tournaments">Tournaments</a></li>
    <li {{if Profile}} class="active dropdown" {{else}} class="dropdown" {{end}}>
      <a class="dropdown-toggle" data-toggle="dropdown" href="">
	{{.User.Username}}
	<b class="caret"></b>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	<li><a href="/m/users/{{.User.Id}}">Profile</a></li>
	<li><a href="">Settings</a></li>
	<li><a href="/m/logout">Logout</a></li>	
      </ul>
    </li>
    {{end}}
  </ul>
  <h3 class="muted">purple-wing{{if Admin}} <small>admin</small>{{end}}</h3>
</div>
{{end}}
