{{define "tmpl_user_requests"}}
<div class="requests">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Requests</th>
			</tr>
		</thead>
		<tbody>
			{{range .}}
					<form accept-charset="UTF-8" action="/m/teams/{{.TeamId}}/request" class="form-horizontal" method="post">
						<tr>
							<td><a href="/m/users/{{.UserId}}">User {{.UserId}}</a> wants to join <a href="/m/teams/{{.TeamId}}">Team {{.TeamId}}</a></td>
							<input id="request_id" name="RequestId" type="hidden" value="{{.Id}}" />
							<td><button class="btn btn-success" name="SubmitButton" type="submit" value="Accept"><i class="icon-ok icon-white"></td>
							<td><button class="btn btn-danger" name="SubmitButton" type="submit" value="Deny"><i class="icon-remove icon-white"></td>
						</tr>
					</form>
			{{end}}
		</tbody>
	</table>
</div>
{{end}}
