<div ng-include src="'shared/notifications.html'"></div>
<div class="panel panel-default">
  <div class="panel-heading gw-panel-heading"><strong>Email invitation</strong></div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h3 class="gw-h1">
            <i class="fa fa-bullhorn fa-lg"></i>
            Invite people to join gonawin
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5>They will receive the following message:</h5>
          <hr>
        	<div ng-dirty>
        	  <form name="inviteForm" role="form">
        	    <div class="form-group">
        	      <div id="email">
              		<p>
              		  From: {{currentUser.User.Name}}<br />
              		  Subject: <strong>{{currentUser.User.Name}} wants you to join gonawin!</strong>
              		</p>
              		<p class="email-body">
              		  Hi there,<br />
              		  Join us at gonawin.<br /><br />
              		  You will be able to join your friends and compete with them by predicting the results of your favorite sports events!<br /><br />
              		  Sign in here: https://www.gonawin.com<br /><br />
              		  Have fun,<br />
              		  Your friends @ gonawin
              		</p>
        	      </div>
        	    </div>
        	    <hr>
        	    <div class="form-group">
        	      <div id="invite">
                  <p>Please, enter their email address below (separated by commas).</p>
                  <div class="form-group" ng-class="{error: inviteForm.emails.$invalid}">
                    <textarea rows="4" name="emails" cols="50" ng-model="invite.emails"></textarea>
                    <span ng-show="inviteForm.emails.$error.emails" class="help-inline"> List is not well formatted</span>
                  </div>
        	      </div>
        	    </div>
        	    <button class="btn btn-success btn-sm" type="button" ng-click="inviteFriends()" ng-disabled="inviteForm.$invalid"><strong>Invite friends</strong></button>
        	  </form>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>
