<div ng-include src="'shared/notifications.html'"></div>
<ol class="breadcrumb">
  <li class="active">Invite</li>
</ol>
<div class="panel panel-default">
  <div class="panel-body">
    <h1 class="gw-h1">
      <i class="fa fa-bullhorn fa-lg"></i>
      Email Invitation
    </h1>
    <div class="row">
      <div class="col-md-12">
	<h3>Invite people to join gonawin</h3>
	<p>They will receive the following message:</p>
	<hr>
	<div ng-dirty>
	  <form name="inviteForm" role="form">
	    <div class="form-group">
	      <div id="email">
		<p>
		  From: {{currentUser.User.Name}}<br />
		  Subject: <strong>{{currentUser.User.Name}} wants you to join gonawin!</strong>
		</p>
		<p class="email-body">
		  Hi there,<br />
		  Join us at gonawin.<br /><br />
		  You will be able to join your friends and compete with them by predicting the results of your favorite sports events!<br /><br />
		  Sign in here: http://gonawin.com<br /><br />
		  Have fun,<br />
		  Your friends @ gonawin
		</p>
	      </div>
	    </div>
	    <hr>
	    <div class="form-group">
	      <div id="invite">
		<p>Please, enter their email address below (separated by commas).</p>
		<div class="form-group" ng-class="{error: inviteForm.emails.$invalid}">
		  <textarea rows="4" name="emails" cols="50" ng-model="invite.emails"></textarea>
		  <span ng-show="inviteForm.emails.$error.emails" class="help-inline"> List is not well formatted</span>
		</div>
	      </div>
	    </div>
	    <button class="btn btn-success" ng-click="inviteFriends()" ng-disabled="inviteForm.$invalid">Invite friends</button>
	  </form>
	</div>
      </div>
    </div>
  </div>
</div>
