<div class="header">
  <div class="container-fluid">
    <div class="row centered">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="content">
          <h1>Welcome to <b>gonawin</b></h1>
          <br>
          <h3><b>gonawin</b> is a social web application for betting on tournaments with your friends.<h3>
          <div class="row centered">
            <div class="col-md-2"></div>
            <div class="col-md-3"><google-plus-signin clientid="36368233290"></google-plus-signin></div>
            <div class="col-md-3"><twitter-signin></twitter-signin></div>
            <div class="col-md-3"><fb:login-button scope="email" show-faces="false" max-rows="1" size="large"></fb:login-button></div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
<!-- INTRO WRAP -->
<div class="intro">
  <div class="container-fluid">
    <div class="row centered">
      <div class="col-md-4">
        <img src="static/img/placeholder_140.png" class="img-thumbnail">
        <h3>Join</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="col-md-4">
        <img src="static/img/placeholder_140.png" class="img-thumbnail">
        <h3>Play</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="col-md-4">
        <img src="static/img/placeholder_140.png" class="img-thumbnail">
        <h3>Share</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
    </div>
    <br>
  </div>
</div><!--/ #introwrap -->
